[2016-11-21 14:04] daveyarwood opened #2 "Plugin system"
Moved from https://github.com/alda-lang/alda/issues/37.

tl;dr: allow users to write plugins to add or alter syntax in an Alda score. This would allow people to customize the way they write scores in Alda, without everyone have to agree with their decisions and merge changes into Alda core.

See that issue for context and some planning comments.

[2016-11-21 14:24] daveyarwood commented on #2
My original idea was a preprocessor step -- an Alda plugin would be a program that takes an Alda score (as a string of text) and modifies it in some way (perhaps the plugin uses its own grammar to parse the score and replace certain parts), then the result is passed through the usual Alda machinery.

A couple months ago I was talking to @ctford at ICFP/FARM 2016 and he mentioned an interesting ide

[2016-11-22 11:17] daveyarwood opened #3 "Export to MusicXML"
Moved from https://github.com/alda-lang/alda/issues/44.

MusicXML is a format that a lot of GUI score editing programs can import/export from/to. Being able to import/export between MusicXML and Alda scores would be valuable because it would allow us to hook into that ecosystem.

This may also open the door to import/export from/to MIDI, with MusicXML as an intermediate step.

[2016-11-22 11:57] daveyarwood opened #4 "Stack-based attributes"
Moved from https://github.com/alda-lang/alda/issues/46.

See that issue for context -- it's an interesting idea that needs more discussion.

[2016-11-22 13:12] daveyarwood opened #5 ""Repeat until" function"
Moved from https://github.com/alda-lang/alda/issues/126.

Quoting @MillerMark from that issue:

He also proposed a built-in `@endOfScore` marker, which would allow us to repeat musical phrases until the end of a score.

[2016-11-22 13:24] daveyarwood opened #6 "Transposition operators"
Moved from https://github.com/alda-lang/alda/issues/129.

See that issue for details / discussion.

[2016-11-23 14:01] daveyarwood opened #7 "Sequence reversal operator"
Moved from https://github.com/alda-lang/alda/issues/130.

Quoting myself:

[2016-11-23 14:06] daveyarwood commented on #7
I'm still leaning against adding this as a syntactic feature.

Inline Clojure code has matured since this issue was created, and I think reversing a sequence is a good example of one of the cool things you can do with it:

[code]

Notably, this doesn't behave exactly like you might expect -- you end up getting quarter notes G, F, E, D followed by an eighth note C.

But, you could get around that b

[2016-11-23 14:06] #7 closed

[2016-11-23 14:07] daveyarwood commented on #6
We should consider whether this should be implemented as alda.lisp (inline Clojure code) functions rather than as a new operator. This is an overall design goal of mine.

[2016-11-23 14:13] daveyarwood commented on #5
We should consider whether this should be implemented as alda.lisp (inline Clojure code) functions rather than as a new operator. This is an overall design goal of mine.

[2016-11-23 14:19] daveyarwood opened #8 "Modules / multiple file scores"
Moved from https://github.com/alda-lang/alda/issues/133.

The "module" idea is essentially to take the variable concept and apply it to entire files.

For example, each instrument's part could be written in a separate file in the same directory as a main file (perhaps even organized into subdirectories), then in the main file (say, "score.alda"), you could write something like:

[code]

and each o

[2016-11-23 14:24] daveyarwood opened #9 "Export to MIDI"
Moved from https://github.com/alda-lang/alda/issues/145.

Quoting myself:

[2016-11-23 14:29] daveyarwood opened #10 "Export to Csound score"
Moved from https://github.com/alda-lang/alda/issues/148.

See the original issue for more context.

Kudos to @PaulBatchelor for this excellent feature idea!

[2016-11-23 18:16] daveyarwood opened #11 "Score debugging function in alda.lisp"
When working on an Alda score with multiple parts, you can sometimes run into problems where you accidentally make a note in one part slightly longer or shorter than you think it is, leading to timing issues between the two parts.

To assist in debugging this issues, it might be beneficial if we had an alda.lisp function that, when called, prints out the current offset of the current instrument(s)

[2016-11-23 18:21] daveyarwood commented on #11
`debug-offset` could be implemented as a [scheduled function](https://github.com/alda-lang/alda/blob/master/doc/inline-clojure-code.md#scheduling-custom-events).

Incidentally, I've been thinking about extending the usefulness of scheduled functions by allowing them to take an optional argument with the context of the current score/instrument. If we added this ability to scheduled functions, then

[2016-11-23 21:16] daveyarwood opened #12 "Error message line numbers / better parse error reporting"
Moved from https://github.com/alda-lang/alda/issues/150.

Quoting myself:

[2016-11-23 21:19] daveyarwood opened #13 "Gradual attribute changes"
Moved from https://github.com/alda-lang/alda/issues/179.

Quoting myself:

[2016-11-23 21:21] daveyarwood opened #14 "Ornaments (trills, appoggiaturas, etc.)"
Moved from https://github.com/alda-lang/alda/issues/180.

[2016-11-23 21:23] daveyarwood opened #15 ""Humanization" filters"
Moved from https://github.com/alda-lang/alda/issues/181.

@jimcheetham noted that...

[2016-11-23 21:31] daveyarwood opened #16 "Decimal note lengths"
Moved from https://github.com/alda-lang/alda/issues/193.

@elyisgreat had the idea of non-integer note lengths like `c0.5` (i.e. twice as long as a whole note `c1`).

A related discussion that came up in the original issue was the confusion inherent with `set-duration`, which takes a number of beats as its argument instead of a "duration" like `4` for a quarter note. To set the duration to a quart

[2016-11-23 21:37] daveyarwood opened #17 ""Alternate endings"-like functionality"
Moved from https://github.com/alda-lang/alda/issues/207.

@elyisgreat had an idea in that issue that reminds me of [first/second/etc. endings](http://dictionary.onmusic.org/terms/4798-second_ending_735) in standard music notation.

See the original issue for syntax ideas. Example sketches:

[code]

- play `e f` on repeats 1-3
- play `f e` on repeat 4
- play `a b > c` on repeats 1, 3 and 4
- play `

[2016-11-23 21:43] daveyarwood opened #18 "Improve parsing time"
Moved from https://github.com/alda-lang/alda/issues/208.

Some work was done on this (https://github.com/alda-lang/alda/issues/238, https://github.com/alda-lang/alda/issues/240) with good results.

@aengelberg noted that the `part-parser` in `alda.parser` appears to be the primary bottleneck, so it's possible that we could see even better performance by optimizing that grammar.

[2016-11-23 21:47] daveyarwood opened #19 "Flexibility in expressing tempo / metric modulation"
Moved from https://github.com/alda-lang/alda/issues/222.

See the original issue for details.

tl;dr:

Flexibility in expressing tempo:

Metric modulation:

[2016-11-23 21:54] daveyarwood opened #20 "Experiment: streaming parse and eval"
Moved from https://github.com/alda-lang/alda/issues/225.

An experimental idea I had when brainstorming about how to speed up the Alda parse => eval => play pipeline. See the original issue for details.

[2016-11-23 22:00] daveyarwood opened #21 "Reference pitch and transposition attributes"
Moved from https://github.com/alda-lang/alda/issues/236.

- `transpose` or `transposition` attribute: when writing music for a Bb clarinet playing in the key of Bb (i.e. reading the part like it's in C), `clarinet: (transpose -2) c8 d e f g a b > c` would produce a Bb major scale.

- `reference-pitch` or `tuning-constant` attribute would specify an alternate pitch of A4, with the default being 440

[2016-11-23 22:03] daveyarwood opened #22 "(volume 0) optimization"
Moved from https://github.com/alda-lang/alda/issues/267.

@elyisgreat had the idea that we could optimize performance by not adding silent notes to the `:events` of a score. In other words, they should behave exactly like a rest of the same duration.

Quoting myself:

[2016-11-23 22:05] daveyarwood opened #23 "Export to WAV, MP3"
https://github.com/alda-lang/alda/issues/62

See the original issue for some ideas on how to do this.

[2016-11-23 22:06] daveyarwood commented on #23
oops - wrong repo!

[2016-11-23 22:06] #23 closed

[2016-11-23 23:55] daveyarwood opened #24 "Global attribute timing issues"
Moved from https://github.com/alda-lang/alda/issues/283.

@elyisgreat pointed out an unintuitive aspect of global attributes, which is that they can only affect instrument parts below them in the score. In other words, in the following score:

[code]

Both the trumpet and the trombone part speed up at the global tempo change after 4 eighth notes. However, in this score:

[code]

The global tempo c

[2016-11-24 00:48] daveyarwood opened #25 "Import MIDI files"
Moved from https://github.com/alda-lang/alda/issues/85.

Quoth @crisptrutski:

Shout-out to @alandipert for also having the same intriguing idea. 💡

It would be cool to be able to read a MIDI file and spit an Alda score to STDOUT. You could then redirect that to a file...

[code]

...or even pipe it back to `alda` to play it, effectively making `alda` a sort of command-line MIDI player!

[code]

[2016-11-24 00:53] elyisgreat commented on #11
Wait; each instrument has its own offset?

[2016-11-24 00:53] daveyarwood commented on #25
It took me a while to figure out which Alda subproject repo this issue should belong to.

What I'm describing could be implemented as a standalone CLI tool, kept in its own repo and installed separately to Alda.

But it would be great if we included such a thing as a built-in `alda` command. So that made me think this should be filed under [alda-client-java](https://github.com/alda-lang/alda-clien

[2016-11-24 00:58] daveyarwood commented on #11
Yes. For example, in the following score:

[code]

At the end of the score, the oboe has an offset of 5500 ms (i.e. it's 5500 ms into the score) and the bassoon has an offset of 500 ms.

[2016-11-24 00:59] daveyarwood commented on #11
You can think of the offset as "how far into the score the next note that instrument plays will be."

[2016-11-24 21:17] mindcat opened #26 "So, I don't know how to write music and then use alda."
Could you tell me some learning materials about music that will help use alda?

I am new for develop the music.

[2016-11-24 21:36] elydpg commented on #26
I would definitely check out [this article](http://blog.djy.io/alda-a-manifesto-and-gentle-introduction/) for an introduction to the language. It's quite old, but it should give you a general idea. There's also the [language documentation](https://github.com/alda-lang/alda/tree/master/doc) on the main GitHub page.

[2016-11-24 22:01] ghost commented on #26
@elyisgreat Sorry, maybe I didn't declare the problem clearly.
I don't have music knowledge, where I could learn that? did that will help use alda?

[2016-11-24 22:07] ghost commented on #26
Well, after I look what was I wrote, its more like I ask how to write music in alda and not how to write music for alda.
Does my English got problem? Probably.
ahhhhhh! Well, keep learning from surrounding :D

[2016-11-24 22:12] elydpg commented on #26
Oh; you want to learn the music theory bit so that you can write music *in* alda? That's a much more vague question. There's lots of resources online to help you. Would definitely recommend checking out [r/musictheory](https://www.reddit.com/r/musictheory/) for music theory tips, then visiting the [alda slack group](http://alda-lang.slack.com) to discuss the language itself.

[2016-11-25 01:34] daveyarwood commented on #26
@mindcat -- I think https://en.wikibooks.org/wiki/Music_Theory is a good resource for music theory for beginners. It might be a fun exercise to learn how the sheet music examples translate into Alda syntax.

I'll close this issue for now since we've linked to a couple of resources, but we can talk further on Slack if you'd like!

[2016-11-25 01:34] #26 closed

[2016-11-25 03:46] ghost commented on #26
oh yes yes. music theory.

[2016-11-30 21:31] damiendevienne opened #27 "bug when mixing length of notes (ms or s) and default no-length"
Hi ! Great tool, thanks!
Maybe this is wanted, but it is suprising: when trying to use length of notes in seconds or millisecons I noticed that these lengths cannot be mixed with no-length (default) notes. For example
`d e` plays two notes (ok).
`d2s e2s` plays both (2s each, ok).
`d2s e` only plays the d (2 seconds...)
Any thoughts?

[2016-11-30 21:37] daveyarwood commented on #27
Nice catch - this is definitely a bug!

The intended behavior is for each "declared" note length (whether in seconds, milliseconds or standard notation like quarter notes) to be "sticky" and apply to every note following it as a "default" note length until there is another note with a declared note length.

[2016-12-05 13:16] daveyarwood commented on #27
Fixed in 0.1.2. Thanks again for reporting this! :)

[2016-12-05 13:16] #27 closed

[2016-12-08 06:11] pierredewilde commented on #9
Exporting to MIDI will be very cool.

Alda scores (converted to MIDI) could be used with any MIDI sound modules or synthesizers. Moreover, Alda scores could be converted to sheet music with MuseScore or related music notation software.

[2016-12-11 02:09] bring2dip opened #28 "One more example to add to the list"
I have written a score for Beethoven's Fur Elise. I wish you could add that to the list of examples. If you want me to send the PR I will do it.

[2016-12-11 02:14] elydpg commented on #28
Ooh that raises an interesting point. I have a bunch of scores that I could put in examples. I think we need a score sharing platform to make it easy to find alda scores for specific pieces as well, however that is not as pertinent to your request.

[2016-12-11 02:23] bring2dip commented on #28
Well, that sounds amazing for me. I saw the examples folder and the scores were on basic grammar and how to use variables and all.  If we can have a separate repo for the pieces it would be great.

[2016-12-11 02:25] daveyarwood commented on #28
I think a community scores repo is a great idea!

The examples folder in this repo is used primarily for testing purposes, so I would agree that a separate repo is a good idea.

[2016-12-11 02:28] daveyarwood commented on #28
@bring2dip @elyisgreat I think [/r/alda](https://reddit.com/r/alda) would also be a good place to share scores :)

[2016-12-11 02:34] bring2dip commented on #28
@daveyarwood In my viewpoint, a separate repo would be good in this case.It would be organized and searching would also be easier rather than sharing it on Reddit which would mix with other posts.

[2016-12-11 02:37] elydpg commented on #28
Actually I was thinking of eventually bringing this issue up on r/alda. I don't think reddit is a great place for widespread file sharing due to the difficulty of searching and, as @bring2dip mentioned, it would have to mix with other posts.

Posting scores to pastebin, GitHub, or other file sharing sites is nice, however it's hard to search those sites for specifically Alda content.

Personally I

[2016-12-11 02:41] daveyarwood commented on #28
This all makes sense to me, but it feels like something that should be an unofficial community effort outside of the alda-lang org. I would happily contribute, of course!

[2016-12-11 02:44] elydpg commented on #28
Perhaps we could call it alda-scores.io or something of the sort?

Hmm. I'm wondering where exactly this issue belongs...

[2016-12-11 02:50] bring2dip commented on #28
Let us make a repo outside of the official alda-lang org "alda-scores" would be a good choice. And somewhere in the alda repo we can add a link for the alda-scores repo.How do you say  @elyisgreat @daveyarwood

[2016-12-11 02:56] daveyarwood commented on #28
I'm very much in favor of a score-sharing website like @elyisgreat mentioned, but I'd like to keep the Alda team (myself mostly 😀 ) focused on maintaining Alda itself. So, I'm going to close this issue in light of that.

I think an "unofficial" Alda community scores repo would be a good start, and if someone web-savvy wanted to make a web application for sharing Alda scores, I would fully endorse

[2016-12-11 02:56] #28 closed

[2016-12-11 03:04] elydpg commented on #28
There's a repo called [alda-scores](https://github.com/command3r/alda-scores), but it looks like it hasn't been touched in awhile. For the web app I think using [wordpress](https://wordpress.org) would be the easiest option (in case future me wanted to take on the task, however I am not that web-savvy.)

[2016-12-11 03:06] bring2dip commented on #28
@elyisgreat I have created the repo with the same name [alda-scores](https://github.com/bring2dip/alda-scores) . As the command3r's repo seems to be inactive.  I will create a github page for it.

[2016-12-11 03:30] elydpg commented on #28
Nice! I checked out your für elise score. Looks like some of the octave markers are out, causing some notes to be in the wrong octave. It also felt incomplete; it was using one instrument only, when it could benefit from two. However it is very easy to read.

[2016-12-11 03:39] bring2dip commented on #28
@elyisgreat yes it's the first time I've written a piece in alda. It is written from easy piano sheet. There are many things to improve. I have added a link of the sheet music you can have a look at it. And please also send your scores.

[2016-12-11 04:08] elydpg commented on #28
For your first score, it's quite good (My scores, even the good ones, are not as nicely styled)! btw If you want to continue your Für Elise beyond the sheet you provided, there's a good sheet of the full thing [here](http://www.forelise.com/media/for_elise_sheet_music.pdf).

[2016-12-11 04:20] bring2dip commented on #28
@elyisgreat you can send your scores and I can style them for you. I will also look at the full sheet in my spare time and try to cover it full.

[2016-12-23 04:06] elydpg commented on #24
Now that I think about it more, it makes more intuitive sense for global attribute calls (at least for tempo) to apply to all instruments at that time and not have the weird event thing. This is due to my trying to code global calls around event breakups, making the process more confusing. This would especially help those who don't understand how events work, who would fully expect any global attr

[2016-12-24 19:19] elyisgreat commented on #6
Transposition is going to be complicated. Unlike attributes like tempo, it may be desirable to add and subtract the values from one another upon their setting. Suppose a composer writes a piano part in concert pitch and a trumpet part in B♭, then decides that later they want to use the entire thing again, only both parts are to be played a semitone higher.

Personally, I always write in concert pi

[2016-12-24 19:23] elydpg commented on #24
The entire system would have to be redone anyway were we to implement a system similar to my proposal in  alda-lang/alda#179. This issue is thus connected to #13.

[2017-01-01 14:18] gdpelican commented on #25
I'd like to take a crack at this. No guarantees (it's a clojure learning project for me, and MIDI parsing seems a bit hairy, even using the java libraries), but I'll give it a go. 😺

[2017-01-01 14:28] daveyarwood commented on #25
Great, thanks! Let me know if you have any questions along the way.

On Jan 1, 2017 9:18 AM, "James Kiesel" <notifications@github.com> wrote:

[2017-01-30 05:05] aktopus opened #31 "Alda not starting - Need to "Disable Networking""
In issue #[271](https://github.com/alda-lang/alda/issues/271) I saw that @0atman had an identical issue as I do starting workers. His error copied verbatim below:

[code]

I see from the comments in that thread this is a network issue, and that "disabling networking" can resolve. I'm not entirely sure how to do that and I tried Googling that precise phrase. Can someone let me know the best way to

[2017-01-30 05:07] jgkamat commented on #31
I would try disabling wifi and disconnecting from ethernet and trying it out. I'm not sure though, I've never seen this issue before, sorry :cry:
~What operating system are you on?~ Your on windows 10 per #271.
Can you provide the results of `alda version`?

[2017-01-30 15:52] aktopus commented on #31
Tried disabling wifi and disconnecting from ethernet without success. To your questions: I'm on Windows 10, and `alda version` gives the following:

[code]

But let me back up a moment - the root of the issue is the fact that I'm unable to play alda files with command `alda play --file <filename>` which gives the error:

`[27713] ERROR No worker processes are ready yet. Please wait a minute.`

But

[2017-01-30 16:03] daveyarwood commented on #31
@aktopus Could you try the following?

1. Find the backend port of the server you have running:

[code]

2. Run a new worker process in the foreground and try to connect to the backend port:

[code]

    If everything is working properly, you should see the worker receiving heartbeats from the server:

[code]

I'm hoping that your worker's output might help us figure out where the problem is.

[2017-01-30 16:40] aktopus commented on #31
Hi @daveyarwood! Here's what I'm seeing:

1. Find the backend port of the server you have running:

[code]

Process hangs, so I interrupt, and try getting the status again.

[code]

2. Run a new worker process in the foreground and try to connect to the backend port:

[code]

So I am getting heartbeats, but I still see zero workers available when I run `alda status` again. After having run the abo

[2017-01-30 18:24] daveyarwood commented on #31
Interesting. This seems like it might be a permissions issue.

When you start a worker process in the foreground (the key being that _you_ start the process), it is able to talk to the server fine. However, when you start the server, the server is apparently not able to start its own worker processes.

Just to clarify -- did you run `alda status` in another terminal before killing the worker proce

[2017-01-30 19:42] aktopus commented on #31
I did not run `alda status` in another terminal before killing the worker process (i.e. `alda up` followed by `alda status` in a separate terminal) but on trying it now, I'm getting the same result:

`[27713] Server up (0/2 workers available, backend port: 55964)`

in the second window while the first window is stuck on:

`[27713] Starting worker processes...`

Let's not worry about the file-playi

[2017-01-30 19:45] daveyarwood commented on #31
Do you see any error logs in `$HOME/.alda/logs/`? (I'm not sure what the `$HOME` path would be on Windows 10)

[2017-01-30 19:50] jgkamat commented on #31
I would try `C:/Users/<username>/AppData/` (or the `roaming` folder in the previous path).

`AppData` is a hidden folder unfortunately though.

[2017-01-30 19:58] aktopus commented on #31
The folder `/.alda` does not exist in my home directory (though I do see other folders like `./ipython` for other languages. Similarly, Alda does not show up in `AppData` or `Appdata/Roaming`, though I see other folders like like Spotify and Slack within Roaming.

[2017-01-30 20:27] daveyarwood commented on #31
Aha -- so maybe some kind of error is occurring when the Alda worker process attempts to access `$HOME/.alda` to write logs.

When run in verbose mode (`-v`), a worker does not attempt to access this directory, which might explain why nothing looked out of the ordinary when you ran a worker in the foreground earlier.

@aktopus Would you mind trying again, but without the verbose flag (`alda -p <ba

[2017-01-30 22:32] aktopus commented on #31
[code]

The above never tells me it's receiving heartbeats and just hangs at the above. I forgot I'd left it open, and when I opened a new terminal window and entered `$ alda status` I then get `[27713] Server up (1/2 workers available, backend port: 58737)`, and then on trying to run....

[code]

It actually plays the file, finally! So obviously, it's ideal to not have to run `alda up`, `alda sta

[2017-01-31 02:10] aktopus commented on #31
So I had to leave my laptop at work for unrelated reasons and can't post the log for you to look at, but will update this tomorrow.

[2017-01-31 15:01] aktopus commented on #31
I closed my terminal, which never went past the following (also above):

[code]

When I looked for `C:\Users\aetteh\.alda\logs\error.log` I still don't see a folder called `\.alda`, so I unfortunately don't have anything else to pass along. I'm guessing it's because the process didn't get any further.

[2017-02-01 10:06] snigdhaAgarwal commented on #21
@daveyarwood - I would like to take up this issue if it is still available. Can you help me in getting started? I have never worked in clojure before but would like to learn.
I have installed boot so far.
Thanks

[2017-02-01 10:25] abhi18av commented on #21
Hi @fankee

You can check out the basic online book/tutorials like [Clojure for the brave and true](http://www.braveclojure.com/clojure-for-the-brave-and-true/)

[Getting to know boot](https://lionfacelemonface.wordpress.com/2015/01/17/boot-getting-started-with-clojure-in-10-minutes/) - please do follow through with the references towards the bottom.

Awesome documentation and reference[clojure-do

[2017-02-01 10:27] abhi18av commented on #21
Oh, and you can of course get acquainted with the code base using [alda-docs](https://github.com/alda-lang/alda/tree/master/doc)

[2017-02-01 13:10] daveyarwood commented on #21
@fankee Thanks for offering to help! I'm always happy to help if you run into any technical questions about Clojure or the Alda codebase -- feel free to ping me here or in the [Alda Slack group](http://slack.alda.io/).

@abhi18av linked to some great resources. I can personally vouch for Clojure for the Brave and True -- it was written by a good friend of mine and it's an excellent way to start le

[2017-02-15 18:14] kirbyfan64 opened #32 "Idea: Windows installers"
I would be happy to contribute them! :D

[2017-02-16 08:33] abhi18av commented on #32
@kirbyfan64 , do you plan to use [Chocolatey](https://chocolatey.org/) ? That'd be really helpful, though I don't know if it works more like `brew` i.e. builds packages or `brew cask` i.e. installs binaries.

I've made a couple attempts with the `brew cask` feature - will complete it as soon as I get some extra time on my hands.

Thanks, btw.

[2017-02-16 12:02] daveyarwood commented on #32
+1 to Chocolatey or something similar. With Alda being a command-line program, it would be nice to manage it via existing command-line-oriented package managers for each OS.

[2017-02-16 14:13] kirbyfan64 commented on #32
True, I forgot about Chocolatey. (I maintain the PyPy package... though it's a few versions behind...)

[2017-03-14 03:56] dgrmunch opened #33 "Midi export"
Is this feature in progress? It is the only thing I miss so far in this wonderful project :-)

[2017-03-14 04:20] jgkamat commented on #33
This is a dupe of #9

I don't know too much about the backend, but I don't think it would be too hard to implement, if there are libraries in the java midi api for this already. I do agree this is much needed (either this or MP3/wav export).

(if/when I get another large block of free time I _might_ be able to look at this, but I'm way too busy right now :cry:)

[2017-03-14 11:58] daveyarwood commented on #33
( @jgkamat I just had twins, so I know how you feel! 😵 )

Closing as duplicate of #9. So far, I don't believe anyone has started working on this feature, but contributions are always welcome!

[2017-03-14 11:58] #33 closed

[2017-03-14 22:04] dgrmunch commented on #33
Congrats for the twins :-) 👍

[2017-03-25 00:15] elyisgreat opened #34 "Implicit closing attribute setting bug"
In 1.0.0rc50, implicit closing was added, allowing voices to work inside variables and event sequences. However, there is a slight issue when it comes to attribute setting. Consider:

`piano: (tempo 150) [V1: c4 d e f g1 V2: e4 f g a b1]*2 (tempo 200) [V1: g4 f e d c1 V2: b4 a g f e1]*2`

In this segment, the second sequence should play uniformly faster, as the voices were closed and the attribute

[2017-03-25 00:21] elyisgreat opened #35 "Nested voice issue"
Currently, you can have voices inside variable declarations. This is consistent with the mechanics of voices, however there is a problem when you try and nest them:

[code]

What ends up happening is that the `side` segment plays after the `main` segment's second voice. This may be expected behaviour, though it is slightly odd.

[2017-03-25 00:28] elydpg commented on #24
To be honest, I'm now thinking that the easiest solution to this would be to make global attribute calls only legal if they are not interspersed with events; i.e. in the header area. From what I can tell from your examples the global call is really only used in this way.

[2017-03-25 01:41] elyisgreat opened #36 "Suggestion: new key signature vectors for other modes"
Currently, the `key-signature` attribute has an option to set the key signature using a vectored name, such as

`(key-sig [:e :flat :major]) e f g a b > c d e <`

I propose that the `:major` and `:minor` parameters be extended to support more modes, such as `:dorian` and `:phrygian`.

Should this be native behaviour? Or would a plugin for it make more sense?

[2017-03-25 15:02] daveyarwood commented on #36
Great idea! I think this is something we should include in alda-core.

[2017-03-25 15:06] daveyarwood commented on #24
I could see a use case for using global attributes in the middle of a piece. For example, if the piece has a key signature change, tempo change, etc. and you want to express that the key signature/tempo/etc. changes for all the parts.

[2017-03-25 15:28] daveyarwood commented on #35
I'm not sure what the expected behavior is here. The variable expansion looks like this:

[code]

This is a parse error because the first `V1:` isn't followed by any events. But if you discard the first `V1:` (or if we theoretically taught the parser to ignore it), then this is equal to:

[code]

There are some weird edge cases like this that result from the fact that voices can contain variables,

[2017-03-25 16:49] elydpg commented on #24
Yes, but as discussed before, this more often than not leads to those bizarre timing issues. Still unsure what the best resolution is.

[2017-03-25 16:53] elydpg commented on #35
it's not actually triggering a parser error because of the empty voice, even though it would if it were written explicitly as you outlined in the expansion. To me the most intuitive behaviour would be to allow the voices to nest, however it may not be the most practical and may lead to some confusing code. So I'm not really sure.

[2017-03-25 18:23] daveyarwood commented on #35
I think it would be difficult to pull off nested voices syntactically. It would be possible if voice groups were explicitly openable and closeable, like if we had something like this imaginary voice group syntax:

[code]

Instead, what we have in Alda is "flat" voices that are all declared at the top-level and cannot be nested. To get the same effect, you can do something like this:

[code]

Or, u

[2017-03-25 18:24] daveyarwood commented on #35
Another option here is to use multiple pianos representing each part:

[code]

[2017-03-25 18:27] elydpg commented on #35
Yep. I think the nested voice syntax looks ugly anyway and conflicts with {} indicating polyrhythms. I suppose this will be kept as is then.

[2017-03-25 18:32] daveyarwood commented on #35
That's what I'm thinking. Nested voices is a useful concept, but I think it's too complex for Alda.

[2017-03-25 18:32] #35 closed

[2017-03-25 18:37] elydpg commented on #35
Yep. Though I'm curious as to why my original example isn't throwing a parser error even when your expanded example would..

[2017-03-25 18:51] daveyarwood commented on #34
The question here is, under what circumstances should a voice group be considered "closed"?

If you write out the repetition explicitly, you can see what's happening here:

[code]

The event sequence groupings have no bearing on when voice groups begin and end, so the `(tempo 200)` belongs to voice 2, the last voice declared. The voice group continues until the end of the piece or a `V0:` occurs.

[2017-03-25 18:58] daveyarwood commented on #35
It's basically a loophole.

`V1: V1:` is not valid because the parser is expecting a voice to contain at least one event. In other words, from the parser's perspective, a voice is defined as `VN:` (where `N` is a number) followed by at least one event.

[code]

This, however, is syntactically valid because `V1: main` is a valid voice containing a single event, `main`.

[2017-03-25 19:07] elyisgreat commented on #34
Interesting. How does implicit closing work, anyway?

[2017-03-25 19:09] daveyarwood commented on #34
It's really more like explicit closing, if you think about it. A voice group is only ever closed when `V0:` is encountered. The idea is that once you start using voices, any new events that are encountered will be added to the last voice you declared (e.g. `V2:`) until you explicitly say you're done with the broken-out voices and you want to go back to using a single voice, which we call "voice 0.

[2017-03-25 19:32] elyisgreat commented on #34
Huh. So why weren't voices working in event sequences and variables before?

[2017-03-25 19:44] daveyarwood commented on #34
Context:
https://github.com/alda-lang/alda/pull/286
https://github.com/alda-lang/alda-core/pull/1

Voices weren't working in event sequences before because the parser didn't consider it valid syntax. We added voices as a thing that can occur inside of an event sequence.

I don't remember offhand what the bug was with voices inside of variable definitions.

The conversation in the PRs above led to

[2017-03-25 19:56] elyisgreat commented on #34
The variable issue was referenced in alda-Lang/alda#255 and seemed identical to the event sequence issue.

[2017-03-30 22:36] dgrmunch commented on #8
Is this already implemented?

I tried with:

[code]
And I got:

[code]

[2017-03-30 23:00] jgkamat commented on #8
@dgrmunch this feature isn't implemented yet (I think), this is more of an idea which might eventually be integrated into alda!

@daveyarwood I think that this might be pretty easy to implement, if I understand how the context works correctly (I might be able to take a stab at it next week(end)).

Couldn't we just read the file, and pass the contents of the file to a call to `(alda-code)`. Code wr

[2017-04-03 11:47] daveyarwood commented on #8
Correct -- this is exactly what I had in mind.

You make an interesting point about the server needing access to files, though. Ideally, this shouldn't be the case. But we also don't want the client to need to do any score processing -- to do so, we would have to load the Clojure code on the client side, which would totally defeat the purpose of having a (fast) client and a (slow to start, but the

[2017-05-07 03:59] Dongsh commented on #25
So, there is still not a exact way to import the midi file?😅

[2017-05-10 12:43] daveyarwood commented on #12
#37 fixes this.

[2017-05-10 14:48] daveyarwood commented on #20
TODO:

- Test that all the example scores sound correct with the new parser, to see if there are any bugs that the tests didn't catch.
- Merge #37 and release alda-core 0.2.0.
- Adjust and test with alda-repl-clj, release new version of that.
- Further testing and new release of Alda.

[2017-05-15 12:31] daveyarwood commented on #34
I spent some more time thinking about this, and I don't think I'm interested in adding nested/scoped voice groups to Alda, at least not in the "implicit" way that we've been imagining in this issue and #35.

I don't think it's unreasonable for Alda to have a feature like nested voice groups, but if it did, I would want the syntax to be explicit (something like https://github.com/alda-lang/alda-cor

[2017-05-15 12:40] daveyarwood commented on #22
I don't think this is worth pursuing. Especially with the recent improvements I've been making to the parser (see #37), I don't think this will help performance much, and it seems like it might be useful for us to differentiate between a rest (i.e. no note) and a silent note.

[2017-05-15 12:40] #22 closed

[2017-05-15 12:44] daveyarwood commented on #18
I think #20 is the answer to our woes. I'm seeing significant improvement in parse times in development.

It might be a while before we can release a version of Alda featuring the new streaming parser, but at least it's coming down the pipe at some point.

I think we should keep this issue open until we have a release of Alda where we can confirm in some way that parse times are no longer problema

[2017-05-28 11:51] #20 closed

[2017-05-28 11:51] #12 closed

[2017-05-30 16:21] daveyarwood opened #38 "Allow multiple parts inside of an event sequence / variable definition"
This would allow composers the flexibility to define whole "parts" of the song that include multiple simultaneous instruments, e.g.

[code]

Interestingly, as @aengelberg pointed out, it is already possible to get this behavior via a hack:

[code]

...which suggests it should be feasible to make changes to the parser to allow doing this directly.

---

Open question: is this fixed by default with

[2017-05-31 05:16] elyisgreat commented on #38
Hm... to me this seems a little bit inconsistent... after all instruments are the environments in which event sequences are played. Though it would be an interesting feature; one would just have to work out the mechanics in order to avoid something like this
[code]

[2017-05-31 05:21] elyisgreat opened #39 "REPL does not check before loading score"
Pretty much the title. If a score is loaded in using `:load`, it will not throw an override warning if there is already a score in the REPL.

[2017-05-31 05:24] elyisgreat opened #40 "REPL starts even if the server is down"
In 1.0.0rc57, the REPL now requires the server to run, finally uniting the separate interfaces. However, the REPL still opens even if the server is down. Of course, when attempting to do anything without the server, an error is thrown, however it may make more sense to check the server status prior to starting the REPL.

[2017-05-31 05:33] elyisgreat opened #41 "rests at the end of event sequence blocks throw a parser error"
This one is best explained with examples
[code]

[2017-05-31 11:42] daveyarwood commented on #38
[code]

[code]

It looks like with Alda 1.0.0-rc57, the parser accepts both of these scores ( 🏆 ), and they sound the same when you play them.

What's really happening under the hood is that strings like `piano:` and `guitar:` correspond to a "switch to that instrument" event. So in the case of the second example, the parser parses out the following sequence of events:

* define a variable called

[2017-05-31 12:37] daveyarwood commented on #39
Yep, confirmed!

We should check to see if the score in the REPL has any changes compared to the score on disk, and prompt for confirmation.

[2017-05-31 13:02] daveyarwood commented on #39
Moved to https://github.com/alda-lang/alda-client-java/issues/17.

[2017-05-31 13:02] #39 closed

[2017-05-31 13:05] daveyarwood commented on #41
Good catch! I think this should be an easy fix.

[2017-05-31 13:09] daveyarwood commented on #40
I like this idea. I think maybe what we should do is check to see if the server is up, and if it isn't, ask if you want to start the server, and start it for you.

[2017-05-31 13:09] daveyarwood commented on #40
Moved to https://github.com/alda-lang/alda-client-java/issues/18

[2017-05-31 13:09] #40 closed

[2017-05-31 16:18] elyisgreat commented on #38
I'm curious as to how variables are currently defined right now, since I always understood them to be event sequences, but if instrument calls are allowed in variable declarations then it seems like variables are like a sort of code injection, which seems to be what's going on here. I'm not sure if this is a better way of handling variables, but either way, it's something that needs work on.

[2017-05-31 16:56] daveyarwood commented on #38
The missing piece of info there is that an instrument call is simply an event that says "switch to this instrument."

A variable is indeed a sequence of events, and with the new parser in 1.0.0-rc57, those events can now include a "change part" event, i.e. an instrument call.

[2017-05-31 17:04] elydpg commented on #41
Hm... I'm still not all that familiar with the clojure code though I could take a look if I knew where...

[2017-05-31 17:14] daveyarwood commented on #41
Sure, that would be great!

In this case, I think I know exactly where the problem is. While we're tokenizing the input and parsing through the characters in a rest, we only consider the rest to be "done" when we encounter a space, newline, EOF, or a digit representing duration, and we throw an exception otherwise. The code for that logic is [here](https://github.com/alda-lang/alda-core/blob/maste

[2017-06-01 00:26] #41 closed

[2017-06-01 00:31] daveyarwood commented on #41
Fixed in [1.0.0-rc58](https://github.com/alda-lang/alda/releases/tag/1.0.0-rc58).

[2017-06-01 13:48] daveyarwood commented on #38
Moving this issue back into the "Discussion" column. It's essentially fixed as of 1.0.0-rc57, but it's not 100% intuitive how to write scores this way, since you have to make sure the parts are all synchronized. I'm curious if we can improve the experience somehow.

[2017-06-10 23:45] elydpg commented on #31
I just switched from Mac OS to Windows 10; Still an issue in 1.0.0rc59.

[2017-06-11 01:21] jgkamat commented on #31
I have a laptop with windows 10 temporarily and can repro this, so I might be able to try and take a stab at it. Not sure how far I will be able to get though.

[2017-06-14 23:51] elyisgreat opened #43 "attempting alda update throws exception in windows 10"
when I attempt `alda update` on my windows 10 pc, the following happens:

[code]

the machine has just been booted so there shouldn't be any issue with used processes. what's going on?

[2017-06-15 00:31] daveyarwood commented on #43
Hmm, so I researched this issue a bit, and I have two hypotheses:

1) This is a Windows-specific issue where the OS won't let a program replace itself while it's running.

    (This is what the `alda update` command does -- it downloads the latest `alda` executable from GitHub and writes it to its own location in your filesystem, so that the next time you run it, it is a new version.)

2) You migh

[2017-06-15 00:34] elydpg commented on #43
I don't have any antivirus installed other than Windows Defender, so I'm guessing that it's option 1. For now I'm guessing that the best way to update is to download the latest version of `alda.exe` and replace it manually :/

[2017-06-15 00:40] daveyarwood commented on #43
Yeah, I think that should work as a workaround. Can you let us know if that works, so we can confirm if that was the issue? You may also need to run `alda down` first to shut down existing instances of the program before replacing it. I'm sorry, I know this is not ideal.

I've actually been thinking about us having a separate program that manages Alda processes, instead of having everything bundle

[2017-06-15 00:46] elydpg commented on #43
So I tried that and it's still telling me that I'm running 1.0.0 rc59 :|

[2017-06-15 00:49] daveyarwood commented on #43
I think that's a bug in the alda-client-java code that gets run when you update Alda. After `An error occured while downloading a file (2).` is printed, we should bail out, not tell you that it updated successfully.

Did you get an error this time?

[2017-06-15 00:58] elydpg commented on #43
No, I meant that after manually updating it's still telling me I'm on rc59...

[2017-06-15 01:08] daveyarwood commented on #43
Oh, huh. I think I accidentally messed up the version number in the build. I just tried it myself and it also said that I'm on rc59 despite it really being rc60. You can tell that you're really on rc60 if you run `alda stop` and it returns `Stopping playback...`

I re-built it and it says rc60 now. I ran `alda update` and it updated successfully for me, and correctly reports the version as rc60.

[2017-06-15 01:27] elydpg commented on #43
yep; it's rc60 since `alda stop` works. Still won't update though

[code]

[2017-06-15 01:37] daveyarwood commented on #43
https://github.com/alda-lang/alda-client-java/commit/080fc4fee075cc75fb2af2ce522e94487a509477 will at least fix the fact that it falsely claims to have updated Alda after there was clearly an error downloading the file.

Help wanted fixing the underlying problem, which I believe is a Windows-specific issue.

[2017-06-15 01:41] daveyarwood commented on #43
Moved to https://github.com/alda-lang/alda-client-java/issues/24 as this is a problem with the Alda client.

[2017-06-15 01:41] #43 closed

[2017-06-15 02:14] elyisgreat opened #44 "alda stop hangs on sustained notes"
this happens on both my mac and windows machine. the `alda stop` command sometimes hangs on the last note played and holds it forever without stopping. Haven't been able to accurately replicate it, but it seems to happen more with instruments which don't fade their sound over time.

[2017-06-15 02:18] jgkamat commented on #44
I think I've had this happen *once or twice*. This is definitely going to be a hard one to catch unless we can find a way to reliably reproduce it.... 😢

EDIT: if it's any help, I have a feeling this is more likely to happen when the server is just coming up, but that might be a hunch.

[2017-06-15 02:34] daveyarwood commented on #44
I've noticed some inconsistent behavior with `alda stop` intermittently doing nothing. I did notice that when that happened, running `alda stop` again would stop the playback. I think there may be some timing issues that we need to address.

As @jgkamat noted, it would be good if we can manage to reliably reproduce the problem. At this point, I'm not 100% sure where the problem is / how to fix it.

[2017-06-15 02:38] elydpg commented on #44
[This score](https://github.com/alda-lang/alda-core/files/1076422/Snowbelle.City.Cover.alda.txt) seems to be able to reproduce it when trying to stop during the parts with a sustained instrument (violin or trumpet in this case). Haven't been able to find a smaller snippet of code which triggers it.

(Also, mind checking slack? Having some soundfont issues which probably don't merit a github issue)

[2017-06-15 04:40] jgkamat commented on #44
Wow, that's such a nice song! :smile: (I wish I could actually make music :stuck_out_tongue:)

As for that file, I worked on cutting it down, and I can reproduce the same behavior with this file:

[test_sustain.alda.txt](https://github.com/alda-lang/alda-core/files/1076583/test_sustain.alda.txt)

It seems that you need to have multiple instruments initialized (but not necessarily playing) in order

[2017-06-15 11:41] daveyarwood commented on #44
I'm able to reproduce the issue. Weird!

I'm going to try a couple things and see if I can find a more foolproof way to stop the sound. Right now we are calling [`allSoundOff`](https://docs.oracle.com/javase/7/docs/api/javax/sound/midi/MidiChannel.html#allSoundOff()) on every channel. I see there is also an [`allNotesOff`](https://docs.oracle.com/javase/7/docs/api/javax/sound/midi/MidiChannel.html

[2017-06-22 12:05] daveyarwood commented on #44
Fixed in [alda 1.0.0-rc61](https://github.com/alda-lang/alda/releases/tag/1.0.0-rc61).

[2017-06-22 12:06] #44 closed

[2017-06-29 03:28] aengelberg opened #45 "Can't use ms durations inside CRAM"
[code]

[2017-06-29 03:58] elyisgreat commented on #45
imo it doesn't make sense to have millisecond durations inside crams, since ratios inside crams are relative. This should at least throw a dedicated error though...

[2017-06-29 04:04] aengelberg commented on #45
I was hoping I could use milliseconds to more explicitly specify the ratios I'm expecting between note durations. e.g. for a 4:3:2 ratio:
[code]
as opposed to something like
[code]
which is less intuitive.

[2017-06-29 04:30] elyisgreat commented on #45
Remember that {ax by} means that whenever a plays x times, b should play y times, within the cram. So for your 4:3:2 ratio example, {c2 d3 e4} should work.

[2017-06-29 04:46] aengelberg commented on #45
{c2 d3 e4} would be a 6:4:3 ratio.

[2017-06-29 04:59] elyisgreat commented on #45
Ah, you're thinking in terms of counts, whereas I'm thinking in terms of the "for every" system I described above. Such are the confusions when the notelength notation is reciprocal...

Personally I think there needs to be a formal way to notate durations in terms of fractions of a bar, however you can try the `set-duration` attribute and see if that works. `set-duration` works in terms of fractio

[2017-06-29 12:14] daveyarwood commented on #45
I like that idea, but it's interesting to consider how that would interact with standard note lengths. For example, how would the ratios be assigned here?

[code]

The duration of an 8th note varies depending on the tempo at that moment. In most cases, this is not difficult to calculate -- e.g. if the tempo is 120 bpm, then an 8th note takes 250ms, so the ratio would be 4:250:2.

But, it gets more

[2017-06-29 18:30] elydpg commented on #16
What if a colon were used for fractional note lengths? It makes sense for ratios and wouldn't conflict with the colon's use in declaring instruments since there would have to be a valid notelength on both sides. cX:Y would represent a Y/X c note (a note with `set-duration (4Y)/X`). So for example c2:3 would be 1.5 bars long, c8:3 would be a dotted quarter note, and c1:7 would be 7 bars long.

Deci

[2017-06-29 18:32] elyisgreat commented on #45
I'm curious as to how that would work from a logic perspective. Would millisecond durations inside the cram just override the length of the cram itself? And then only the notes within the cram with relative length would be counted for the ratio and length system? Not sure tbh...

Also @aengelberg in terms of better notation I suggested fractional notelength notation awhile back which you can check

[2017-06-29 18:39] daveyarwood commented on #16
That's an interesting thought, but I would like to avoid adding extra syntax if we can help it. Keeping syntax simple is a major design goal of mine.

I do want to proceed with adding decimal note lengths, but for the other features you're describing here, I'd rather see how we can implement them via inline Clojure functions.

[2017-06-29 18:47] daveyarwood commented on #45
Instead of tallying beats, we would tally milliseconds, as I described above.

There are 2 relevant numbers, when it comes to CRAM:

- The _inner duration_, which is the length of its contents.

  e.g. in the case of `{c4 d42ms e8}1`, assuming a tempo of 120 bpm, the inner duration would be a quarter note (500 ms) + 42ms + an eighth note (250 ms) = 792 ms.

- The _outer duration_, which is how lon

[2017-07-07 22:29] NonlinearFruit opened #46 "Ties not working?"
[Disclaimer: I'm a programmer, not a musician]

I am trying to transcribe the lyric notes from the song *'Happy'*.  But the sideways-parenthesis/tie/tilde isn't combining the notes like I think it should. It is very possible that I have mixed up the notation.

Here is my attempt:
[code]

Here is the music notation version:
![image](https://user-images.githubusercontent.com/6962125/27979122-a405f03

[2017-07-07 23:15] aengelberg commented on #46
I believe the ties should be `f8~8`, not `f8~f8`.

[2017-07-08 00:47] NonlinearFruit commented on #46
That works! Thanks!

[2017-07-08 01:30] #46 closed

[2017-07-18 19:00] drummyfish opened #47 "Idea: sequencer syntax"
The current syntax is based on sheet music notation, specifically the note durations are expressed as fractions, which can be hard-to read for people not used to sheet music, which is a lot of people. Take this CRAM example:

    {c2 d1 e2}1

It translates to a bar of 4 beats: 1 beat C note, 2 beats D note and 1 beat E note. This is not very readable though. My suggestion is to add this syntax:

[2017-07-18 19:05] elydpg commented on #47
The `[]` syntax is already used for event sequences, however adjacent notes having double the length is interesting. Definitely would have to be fleshed out though.

[2017-07-18 19:14] jgkamat commented on #47
I'm not sure if this has been discussed before, but I would find it useful to reverse the notes lengths (as a non-music person). Maybe something like:

[code]
would be something similar to what you're thinking, where '1' would be a quarter, and '2' would be a half, '4' would be a full, '8' would be a double, and so on (these are the right music words right?).

Maybe we could even set the base leng

[2017-07-18 19:22] elydpg commented on #47
Imo that it would be too breaking; perhaps a suffix such as `c2t` to indicate a c note which is 2 "tempos" (beats) long, and then having an attribute such as `time-signature` or `beat-length` to adjust it.

[2017-07-18 19:26] drummyfish commented on #47
@jgkamat

I've been also considering this, but I think it could be confusing when the number would sometimes be reversed and sometimes not. Plus appending special characters to notes, even very few, is what makes the classic syntax hard to read. That's why I didn't suggest this.

[2017-07-18 19:30] jgkamat commented on #47
Also, RE: `[]` being used. I think all the parens are used, and this seems a little specific for taking some parens :). Maybe a macro/clj function could be added to flip the note lengths:

[code]

This would make it clear that the notes are reversed (they are inside a function call) and it wouldn't take any parens. I'm not sure how feasable it would be though.... 😄

[2017-07-18 19:40] daveyarwood commented on #47
I definitely would like to keep the "official" syntax predictable, i.e. what we have now, which lines up neatly with Western music theory. As @drummyfish just mentioned, it would be potentially confusing if some bit of Alda syntax meant one thing in one context and one in another.

With that in mind, I think this is a good use case for a [plugin](https://github.com/alda-lang/alda-core/issues/2).

[2017-08-10 22:30] MinaBombo opened #48 "Human voices"
Should we give it a try? Maybe some humming?

[2017-08-10 22:36] elydpg commented on #48
Currently alda only supports MIDI instruments. There are some MIDI voices, however this feature request would fall under support of non MIDI instruments (see [here](https://github.com/alda-lang/alda/issues/287) for more info)

[2017-08-11 01:39] daveyarwood commented on #48
An idea I had was to add a "sampler" instrument that can load a sample (e.g. a .wav file) and play melodies/chords by adjusting the speed and pitch of the sample.

[2017-08-11 14:33] MinaBombo commented on #48
And is there any ongoing plans regarding it?

[2017-08-11 14:41] daveyarwood commented on #48
No development has happened yet -- it's just been an idea in my head for a long while that I haven't had the opportunity to implement yet.

I opened https://github.com/alda-lang/alda-sound-engine-clj/issues/9 just now to track the feature idea. It's definitely something I want to do, but it will probably be quite a while before I can get to it. Contributions are very welcome, if someone wants to t

[2017-08-11 14:49] MinaBombo commented on #48
Sounds like a plan!

[2017-08-12 00:36] daveyarwood commented on #47
Closing this issue as it is not something I'm interested in adding to Alda itself; however, I do think it would be great if we made it possible to write something like this as an Alda plugin.

[2017-08-12 00:36] #47 closed

[2017-09-05 21:07] aktopus commented on #31
I'd been using 1.0.0-rc31 since 56 wasn't working. On a new laptop (still Windows 10) with 66, and the issue persists.

[2017-09-05 21:15] jgkamat commented on #31
@aktopus I don't have a windows computer anymore, so I can't verify this, but I think I was able to workaround this problem by placing the `alda` excutable in a non-privleged place (eg: Downloads) and calling it from there (instead of putting it on the path, per the readme). Does it work in that case?

[2017-09-08 01:45] aktopus commented on #31
Unfortunately not; I have the same issue.

[2017-09-12 12:42] 0atman opened #49 "use changemap.co for a community TODO"
http://changemap.co allows more interaction with your users in planning and commenting on the roadmap:
![screenshot-changemap co-2017-09-12-13-41-52](https://user-images.githubusercontent.com/114097/30326329-264c99da-97c0-11e7-8d1f-667cb91c2cc2.png)

I think we should use it, and I'd be happy to set it up!

[2017-09-12 12:43] 0atman commented on #49
What do you think @daveyarwood ?

[2017-09-12 14:36] daveyarwood commented on #49
@0atman Thanks for the suggestion. changelog.co looks interesting and is compelling, but I think at this point, the Alda project is small enough that I'm happy with managing feature requests and the roadmap via GitHub issues and [our waffle.io board](https://waffle.io/alda-lang/alda).

It's good to know about changelog.co, though. I think at some point in the future, when Alda grows big enough, we

[2017-09-12 14:36] #49 closed

[2017-09-12 15:51] 0atman commented on #49
Sounds good, I got excited about it :-)

[2017-09-28 18:26] daveyarwood commented on #16
Closed by https://github.com/alda-lang/alda-core/pull/50, available in Alda 1.0.0-rc67.

[2017-09-28 18:26] #16 closed

[2017-09-29 18:56] elydpg commented on #31
In 1.0.0rc67 the worker processes do not persist long if they aren't working. This makes the REPL virtually impossible to use.
[code]

[2017-09-29 19:02] elyisgreat opened #52 "Rests are occasionally not parsed properly"
Consider this segment:
[code]

This will play `thingNR` twice as intended, however the final rest is clipped and it ends up lasting 14 counts instead of 16.

[2017-09-29 19:09] elydpg commented on #52
It's also worth mentioning that

[code]

plays correctly.

[2017-09-29 21:33] daveyarwood commented on #52
I found the issue -- there was an obscure bug in the parser that shows itself when you have a rest without a duration (`r`), followed by a newline, at the end of a variable definition. In that scenario, the parser was incorrectly parsing the newline first (I know, right?) and considering the rest to be outside of the variable definition.

I've got it fixed in 1.0.0-rc68. Thanks a lot for reporting

[2017-09-29 21:33] #52 closed

[2017-09-29 21:44] daveyarwood commented on #31
@elyisgreat Thanks for posting those logs -- it's very helpful for me to see what the worker is doing on a Windows machine.

It actually looks like the worker is successfully communicating with the server. I realize this isn't obvious, but the server has a routine that it runs periodically where it checks to see how many workers are talking to it; if it has too many, it drops one of them, i.e. sto

[2017-09-30 03:41] elydpg commented on #31
Here's what happens when trying to start the server

[code]

After attempting `alda downup`

[code]

Running `ALDA_DISABLE_SUPERVISOR=yes alda -v -p 27714 server` does this:

[code]

Just running `alda -v -p 27714 server` behaves interestingly...

[code]
However, when I connect a worker to the backend...
[code]

Odd... I don't know much about how the server works behind the scenes, so take from th

[2017-09-30 14:58] daveyarwood commented on #31
A couple small things to note:

- When you run the server without the verbose (`-v`) flag, it is not necessarily "hanging," just quietly doing its work.

- The `MY_ENV_VARIABLE=myvalue somecommand` syntax doesn't appear to work in PowerShell. In Unix, when you do that, it temporarily sets `MY_ENV_VARIABLE` to `myvalue` only for the program that is running. It's a convenient way to run a command wi

[2017-10-02 14:47] #36 closed

[2017-10-06 01:27] elyisgreat opened #55 "CRAM sequences inside variables"
Consider the following:

[code]

[2017-10-06 03:14] daveyarwood commented on #31
I had a thought: I think the worker processes might be timing out a little too soon in some cases. If a worker process hasn't heard from the server after a certain amount of time, it gives up and shuts down. It occurred to me that maybe in some environments, 10 seconds is not enough time for the server to start communicating with a worker once the worker starts. So, to be on the safe side, I've in

[2017-10-06 04:34] elydpg commented on #31
Still hangs
[code]

[2017-10-06 14:06] daveyarwood commented on #31
"Hangs" is kind of a weird term. It basically means "I didn't see anything change after I waited what I thought was a reasonable amount of time," but it could actually be the case that work is being done silently.

On my machine, it takes a good while for worker processes to start, maybe about 30 seconds or so. I would say that if it takes longer than 5 minutes, then something could be wrong, most

[2017-10-09 13:20] daveyarwood commented on #19
Closed via #54

[2017-10-09 13:20] #19 closed

[2017-10-09 13:46] daveyarwood commented on #19
@pzxwang While working on describing the new metric modulation feature in the changelog, it occurred to me that I'd rather call it `metric-modulation`, as it's more precise than `tempo-transition`.

To me, `tempo-transition` sounds too much like it would be a function that introduces a gradual shift from one tempo into another.

I'm about to make that change myself on master -- just a heads up.

[2017-10-09 15:27] daveyarwood opened #56 "Refactoring: use music-theory library"
I have the humble beginnings of a [music theory library](https://github.com/daveyarwood/music-theory) for Clojure, and I think there is some duplicate code between music-theory and alda-core.

I think it would be cleaner if Alda depended on the music-theory library for logic that is pure music theory, rather than re-implementing these formulas in alda-core like what we have now.

Off-hand, I can t

[2017-10-09 15:28] elyisgreat opened #57 "Tied note lengths not accepted as note lengths in tempo declarations"
When declaring a tempo, it was noted that it's possible to use dotted notes as note lengths like so:

[code]

However, using a tied note throws the following:
[code]

[2017-10-09 15:29] daveyarwood commented on #55
I can confirm that this is a bug -- just haven't had time to look into it yet.

I'll get to it soon, unless someone else feels like jumping in ;)

[2017-10-09 15:31] daveyarwood commented on #57
Nice catch. This is definitely a bug.

Probably what we should do is split the string on `~`, parse each component as a note length (failing if it isn't valid), and then add them together.

cc: @pzxwang

[2017-10-09 15:35] elydpg commented on #57
Hm. Anything else count as a syntactic note length? I think that covers everything

[2017-10-09 15:54] daveyarwood commented on #57
I think that's it, as far as standard note lengths go in Alda.

Alda also has second and millisecond durations, but I don't think it really makes sense to support those here. I can't imagine someone would ever want to specify a duration of 180 bpm, where one beat is exactly 532 ms long, for instance 😄

[2017-10-09 15:57] elydpg commented on #57
Actually that wouldn't work, because if beats were specified in milliseconds it would predetermine the number of beats per minute. Maybe a single String taking a millisecond or second value would suffice

[2017-10-09 15:59] daveyarwood commented on #57
Now that I think about it, tempo is, by definition, agnostic to the physical duration of a note.

So, we definitely can't support the kind of thing I just described. It's nonsensical.

[2017-10-09 16:38] elydpg commented on #57
Yep. The single argument millisecond tempo function would work, but that's your call.

[2017-10-09 17:14] daveyarwood commented on #57
Ah, I see what you're saying. Something like `(tempo! "532ms")` or something like that, where you're saying that one beat lasts 532 milliseconds.

That's an interesting thought, but not something I think we need.

[2017-10-14 17:12] daveyarwood commented on #57
Closed via #58. Will deploy a new release of Alda soon with the fix.

[2017-10-14 17:12] #57 closed

[2017-10-17 10:31] daveyarwood commented on #21
Closed via #59. Will deploy a release soon.

[2017-10-17 10:31] #21 closed

[2017-10-27 11:34] Hemaolle commented on #31
Manually starting worker processes solved the situation where they were not starting automatically for me. Created a pull request to add instructions to the `windows-troubleshooting.md` file: https://github.com/alda-lang/alda/pull/300.

[2017-10-27 13:56] daveyarwood commented on #31
Thanks for the PR, @Hemaolle -- I've merged it, in case this workaround is helpful to newcomers.

I'd still love to fix the issue, if we can figure out what exactly is happening. It's interesting that a worker is able to connect if you start it manually, but somehow the workers that the server starts are not able to connect.

Maybe a good thing to verify would be whether the 2 workers that the ser

[2017-10-27 16:24] Hemaolle commented on #31
When I run `alda up` I get 2 alda processes in the Task Manager, I believe it's the server and the client probably (the `alda up` command doesn't return after the `Starting worker processes...` message). When I run 2 workers manually and have the server running on the background I have 3 processes, or 4 if I start the repl.

[2017-10-27 16:42] daveyarwood commented on #31
OK, so that's helpful to know. It sounds like the server is not able to even start the worker processes. But the client is able to start the server process.

So, I'm wondering if this is a Windows-specific permissions issue. It could be the case that the client has permission to start a new process (the server), but that sub-process does not have itself have permission to start more processes (the

[2017-10-27 17:12] Hemaolle commented on #31
Just 1 process starting with `alda -v server`.

I thought I could try inserting more logging in the code to debug, but can't figure out how to make a working standalone build of the alda-client-java project with boot. I was able to make a jar and package in some depenencies with the (uber) boot task but still getting `Exception in thread "main" java.lang.NoClassDefFoundError: clojure/lang/ISeq`. T

[2017-10-27 20:15] Hemaolle commented on #31
Well got rid of `java.lang.NoClassDefFoundError: clojure/lang/ISeq` by adding `[org.clojure/clojure "1.8.0"]` to the dependencies.

[2017-10-28 12:52] daveyarwood commented on #31
@Hemaolle: I have some information about how to build the `alda` executable here: https://github.com/alda-lang/alda/blob/master/doc/building-the-alda-executable.md

Basically, you make changes to the subproject (in this case, you're making changes to alda-server-clj to add logging) and in the subproject, run `boot package install` to install the subproject locally. Then, in the alda-lang/alda repo

[2017-10-30 07:58] Hemaolle commented on #31
Thanks @daveyarwood, that's really helpful.

I got this error when trying to run the `boot build -o /path/to/output-dir/` command.

[code]

Probably some Windows encoding issue.

[2017-10-30 09:26] Hemaolle commented on #31
:arrow_up: Got the build working with this change in the boot-jar2bin plugin :slightly_smiling_face:

[2017-10-30 12:00] daveyarwood commented on #31
Awesome, thanks for the fix! I've merged it and released boot-jar2bin 1.1.1, which Alda is now using.

[2017-10-30 12:07] 0atman commented on #31
You are all awesome :ok_hand:

[2017-10-30 13:26] daveyarwood commented on #31
Just to be clear, the fix I mentioned above is just so that alda.exe can be built on Windows. There is still some issue with worker processes not starting on Windows.

[2017-10-30 13:26] 0atman commented on #31
Oh I see it now.

My comment stands.

[2017-10-30 13:27] Hemaolle commented on #31
Correct, I didn't have time to debug the original issue yet :(

[2017-10-30 15:04] Hemaolle commented on #31
Ok, this :arrow_up: seemed to solve the problem for me at least :slightly_smiling_face: Seems that the problem manifested if the alda binary path had spaces in it. Could possibly be reproducable on other OSs too.

[2017-10-30 17:03] daveyarwood commented on #31
Excellent -- this looks promising.

I've released [alda 1.0.0-rc76](https://github.com/alda-lang/alda/releases/tag/1.0.0-rc76) with the program path fix above. This should allow workers to start if your path to `alda` or `alda.exe` contains spaces.

@aktopus @elyisgreat Would you mind running `alda update` to get the latest version, and then `alda up` to see if the issue is fixed? The "Starting wo

[2017-10-31 14:28] aktopus commented on #31
Hi Guys!

I've been following this, though I've been relatively quiet since there wasn't much I could personally contribute to it at the time. Thanks for keeping on this! Here's what I'm seeing.

[code]

I'm finally able to play music with the latest version of Alda again. Thanks so much!

Best,
Ak

[2017-10-31 14:53] daveyarwood commented on #31
Great! And @elyisgreat confirmed in Slack that it's working for him, too.

So, I'll consider this issue resolved. :trophy:

[2017-10-31 14:53] #31 closed

[2017-10-31 15:00] 0atman commented on #31
:tada: :tada: :tada: :tada: :tada:

[2017-12-04 15:29] 0atman opened #61 "`now/play!` never finishes"
My test script hangs at the end of evaluating:

[code]

Do I need to call some kind of shutdown function to finish?

[2017-12-04 15:41] daveyarwood commented on #61
Hmm, I'm not able to reproduce the issue with the latest versions of alda/core and alda/sound-engine-clj. I started a REPL with those dependencies like this:

[code]

And then pasted in the code above line by line, and I heard the accordion notes.

(Perhaps it's worth noting that the first time you run `now/play!`, you'll see some JSyn logging output and it will block for a few seconds as it initi

[2017-12-04 15:41] daveyarwood commented on #61
I wonder if this might be something environment-specific?

[2017-12-04 16:24] 0atman commented on #61
I was trying it inside a `lein run`, so very different to how you're running it!

[2017-12-04 16:30] daveyarwood commented on #61
Very different indeed :)

I don't know much about how `lein run` works, but I wonder if maybe you
need to explicitly exit by calling `(System/exit 0)`? That would be
something to try. If that works, then I know a couple ways you could make
the script exit only after the score is done playing.

On Dec 4, 2017 11:24 AM, "Tristram Oaten" <notifications@github.com> wrote:

[2017-12-20 15:22] daveyarwood opened #62 "Idea: use LinkedBlockingQueues instead of core.async channels"
The Alda parser implementation is asynchronous, using clojure.core.async channels.

Talking about clojure.core.async, my coworker mentioned that core.async really shines when you're waiting on more than one thing, otherwise core.async has no advantages over a linked blocking queue.

I think that is probably applicable to the Alda parser. We're using channels to make an asynchronous parsing pipelin

[2017-12-20 19:52] daveyarwood commented on #62
Another thing to try: transducers.

Should try both things and run the automated tests and see which approach is most performant.

[2017-12-21 03:49] daveyarwood commented on #62
I started playing around with this and I eventually came to the realization that I was beginning to attempt to reimplement bits of core.async, like being able to close/terminate a channel, in the sense that the next step in the pipeline can read from it until it's closed (using `<!!`) and have a final value. I also started feeling weird about just throwing futures out there and hoping they won't l

[2017-12-21 03:49] #62 closed

[2018-01-25 10:54] semi-automatique commented on #18
For me, performance improvement always starts from a suite of repeatable tests you can use to compare each new solution.

Would you like to have some performance regression tests for Alda parser?  I dont know yet what kind of automated tests you have, but I could develop something specifically for the parser performance at my snail pace :).

I saw your Benchmarks in #37.  I think it is a good base

[2018-01-25 11:22] daveyarwood commented on #18
Hi @semi-automatique, thanks for offering to help!

The benchmarks are run as part of the automated test suite. To run it:

- Install the [Boot](http://boot-clj.com/) build tool.
- Clone this repo and run `boot test` in the root directory.

That will run the entire test suite, including the benchmarks. To run the benchmarks alone, you can specify the namespace: `boot test -n alda.examples-test`.

[2018-01-25 11:27] semi-automatique commented on #18
Thanks for the quick answer.  I know what I will learn this weekend ;).

[2018-01-29 17:34] daveyarwood commented on #61
Hi @0atman, are you still having issues with this?

[2018-01-29 17:41] daveyarwood opened #63 "CLI --from/--to and REPL :from/:to seem to have stopped working"
I think there may have been a regression at some point, causing the from/to functionality not to work as expected. I recall that the from/to options initially worked when we implemented them.

## Steps to Reproduce

### CLI

[code]

### REPL

[code]

## Expected Behavior

You hear playback starting from 5 seconds into the score and stopping at 10 seconds into the score.

## Actual Behavior

### CL

[2018-01-30 10:01] 0atman commented on #61
Trying now, I can't remember how I was running it. "trying it inside of `lein run`" doesn't sound like a real thing :laughing:

[2018-01-30 10:02] 0atman commented on #61
well, that snippet works in the alda repl...

[2018-01-30 10:26] 0atman commented on #61
shrug

[2018-01-30 10:26] #61 closed

[2018-01-30 16:23] 0atman commented on #61
A little nuance: I left the server running after this test, came back after lunch and java was using 100% of my CPU, with a loadaverage of 7!

[2018-02-04 03:14] daveyarwood commented on #63
Fixed in [1.0.0-rc77](https://github.com/alda-lang/alda/releases/tag/1.0.0-rc77).

[2018-02-04 03:14] #63 closed

[2018-02-04 04:28] elydpg commented on #55
still a bug in 1.0.0rc77

[2018-02-05 12:21] daveyarwood commented on #55
Fixed in [1.0.0-rc78](https://github.com/alda-lang/alda/releases/tag/1.0.0-rc78).

[2018-02-05 12:21] #55 closed

[2018-02-27 22:05] elyisgreat opened #64 "Parse error involving variables within variable definitions"
Consider the following code:

[code]
Plays normally
However,

[code]
Throws the error `[27713] ERROR Unrecognized event: :name` (this happens regardless of whether or not the variable `melody` is actually used or not).
However,

[code]
Plays normally.

[2018-03-01 02:16] daveyarwood commented on #64
Another nice catch @elyisgreat -- I've found the cause* and am working on a fix.

*Don't ask, it's a really weird edge case!

[2018-03-01 02:40] daveyarwood commented on #64
...OK, I'll explain :)

Voices ended up actually being a red herring. It turns out that there's a bug in the parser that has to do with ending a variable definition with another variable reference.

This works because the `foo =` line ends with `f` (not a variable):

[code]

But this fails with `Unrecognized event: :name` because the reference to `bar` isn't getting disambiguated from a "name" tok

[2018-03-01 02:58] daveyarwood commented on #64
Fixed in [1.0.0-rc80](https://github.com/alda-lang/alda/releases/tag/1.0.0-rc80).

[2018-03-01 02:58] #64 closed

[2018-03-07 14:42] daveyarwood commented on #5
I'd love to implement this at some point, but it needs some more thought in design.

Jotting down some initial thoughts here:

I think a `loop-until` function could be implemented in alda.lisp, usage might look something like:

[code]

But there would be some trouble there, due to the way Alda evaluates a score. For one thing, `someMarker` would need to have already been defined previously in the

[2018-04-26 08:26] iggar commented on #3
Hello, I was just looking into this and wondering how this could be implemented:
a) a standalone command line tool that would convert/translate alda scores to MusicXML, something like `alda2musicxml <filename>`
b) new output to the parse command, something like `alda parse -f myscore.alda -o musicxml`.

[2018-04-26 14:09] daveyarwood commented on #3
I think both ideas have merit, but I like the idea of the `alda` release executable being a batteries-included program that can do it all.

I'm imagining a new `alda export` command, which will eventually be able to export in a variety of formats, including MIDI, LilyPond, wav/mp3, etc. Usage might look something like `alda export -i myscore.alda -o myscore.musicxml -t musicxml`, with the `-t/--ty

[2018-04-30 20:39] TBuc commented on #3
I'd say to keep `import` and `export` separated since:

- `import` and `export` are really clear and sound commands
- there aren't so many options (just two, _import_ and _export_), so merging them into an upper-level command wouldn't shorten the commands list much
- convert makes me think of some output file, which seems not to be always the case, while giving uncertainty about the input (will it

[2018-04-30 23:57] daveyarwood commented on #3
In general, I do like things to be modular, so having both `import` and `export` would be nice in that way.

But, the semantics of these hypothetical commands are not clear to me.

What is the outcome of `alda import -f somefile.mid`?

If `alda export` is a separate command that does not involve importing, then what does it export?

[2018-05-06 21:12] TBuc commented on #3
I totally misunderstood the context - thought we were in the CLI landscape. Sorry guys.

My opinion is that _convert_ is, as you propose, the best choice.

[2018-05-22 12:42] kfrncs commented on #9
Do you have an ETA on this feature? looking forward to trying it out. Would love to use Alda with my Microkorg.

[2018-05-22 13:43] daveyarwood commented on #9
No ETA in particular, but I am hopeful that we can have at least a "rough cut" of this feature in the near future. @jgkamat and @oakes have done some excellent work over at https://github.com/alda-lang/alda-sound-engine-clj/pull/11 that will enable us to export MIDI in a convenient way. There are just a handful of small issues to hammer out ([checklist](https://github.com/alda-lang/alda-sound-engi

[2018-10-25 17:03] brentjanderson commented on #3
I have zero experience with Alda or MusicXML, but one suggestion I'd throw into the mix is tapping into [Pandoc](https://pandoc.org/) for the conversion pipeline. It has the facilities built for doing a lot of this work, so a custom alda converter for pandoc could target any number of formats. Someone with lua experience might be able to develop a custom pandoc converter, and this would open up a

[2018-11-08 14:27] 0atman commented on #9
Could anything be learned from https://github.com/oakes/edna/blob/master/src/edna/core.clj#L229 (or be taught directly by @oakes ?

[2018-11-08 14:47] oakes commented on #9
I'm still having some trouble getting edna's export working on sound-engine-clj 1.0.0. I'm guessing it's the parameters I'm passing to the AudioFormat constructor but I haven't had much time lately to figure out what needs to change. Once that is fixed it should be easy to transfer the code into a pure alda project, and all you'd need to add is the meico dependency.

[2018-11-08 14:48] daveyarwood commented on #9
I think we're very close to having support for exporting to MIDI in Alda, with the latest changes in https://github.com/alda-lang/alda-sound-engine-clj

@TBuc and I have been chatting about it a bit in the #development channel in [Slack](https://slack.alda.io). It will take a little bit of work, but not much.

Here's a little excerpt of my off-the-cuff scribbled notes from that Slack conversation:

[2018-11-08 14:51] daveyarwood commented on #9
A thought I just had: maybe after we have support for exporting to MIDI, a better approach for "export to WAV" would be to find an existing CLI tool that will export MIDI -> WAV and let that do the work. We could include a good recipe in our docs showing how to do it, but we wouldn't necessarily need to worry about handling all of the edge cases or including another library as a dependency in orde

[2018-11-30 14:14] abhi18av opened #67 "Out of sync playback while using alda.now"
Hi @alda-lang/collaborators  ,

I was trying to use `alda.now` inside a `clojure` program. However, the is noticeable difference in the sound quality and playback in the way the following plays

[code]

Sometimes, it plays fine and at other times it starts by playing a sound that was supposed to be from last iteration.

Also, the speed changes as well.

I tried doing `alda up` in the background to

[2018-11-30 14:35] daveyarwood commented on #67
Hi @abhi18av ,

I don't have time to dig in fully at the moment, but I do see a couple of things that I can clear up:

1. When you use Alda in a Clojure program, your Clojure process effectively becomes the Alda server -- your program is using Alda as a library to build a score and play it. Having an Alda server running in the background (via `alda up`) should make no difference.

2. The `(do (vol

[2018-11-30 14:42] abhi18av commented on #67
Thanks for the quick response @daveyarwood

I'm using the following in my `project.clj`

[code]

[2018-12-01 18:25] daveyarwood commented on #17
Added by @pzxwang in #66

[2018-12-02 13:00] abhi18av commented on #67
@daveyarwood , I was wondering that since we already an `alda` server mechanism why not also use the same with the `alda.now` process. Atleast there should be an option to be able to connect to a running server?

Also, this could effectively allow us to have the client running locally and to be able to connect to it as a remote server. Please correct me if I'm wrong here :)

[2018-12-02 13:39] daveyarwood commented on #67
@abhi18av If I'm understanding you right, I think you're almost describing something that I have planned for Alda 2.0! :slightly_smiling_face:

I'm planning to write a new Clojure library for live-coding Alda in Clojure. It will have a similar API to `alda.now` / `alda.lisp`, but instead of creating and playing the score in your Clojure program, it will generate Alda code and shell out to `alda` t

[2018-12-03 11:48] 0atman opened #68 "`ExitCode` error on upgrade"
When I upgraded from 1.0.1 to 1.1.0, with `alda update`, I got this error:
[code]

However, when I re-run the update, my alda has been updated successfully.

[2018-12-03 14:47] daveyarwood commented on #68
Moved to https://github.com/alda-lang/alda-client-java/issues/38.

[2018-12-03 14:47] #68 closed

[2018-12-03 14:50] daveyarwood commented on #67
Moved to https://github.com/alda-lang/alda-sound-engine-clj/issues/15

[2018-12-03 14:50] #67 closed

[2018-12-06 05:31] abhi18av commented on #67
Hi @daveyarwood ,

Apologies for not replying earlier - life in a startup is crazy fast hehe

I am happy to know that you have already thought about this issue in the roadmap for `alda v2.0` and I am looking forward to be able to connect to an `alda server` using my clojure programs.

Also, when you come to think about it, it would be much easier to have `ClojureScript` running in the browser and

[2018-12-06 12:09] daveyarwood commented on #67
The closest thing we have to a roadmap is our [waffle.io board](https://waffle.io/alda-lang/alda), which is a view of GitHub issues across all of the repos in the alda-lang org. Basically, anything in the "Up for Grabs" column is ready to be worked on by anyone, including me.

Alda 2.0 is still in the planning stages, so I'm hesitant to add any of that work to the board yet while I'm figuring thin

[2019-01-09 22:14] pierredewilde commented on #9
Exporting Alda to MIDI is great but it would be even greater to play Alda on MIDI devices in realtime by specifying the name of MIDI device to use.

[2019-01-09 22:31] 0atman commented on #9
This should not be too difficult for someone familiar with java midi - it's simply a matter of redirecting the midi output to a different device - might even be a 1-liner!. @pierredewilde would you like to give it a go? :laughing:

[2019-01-09 22:35] pierredewilde commented on #9
Sorry, Java is not my cup of tea :)

[2019-01-09 22:37] 0atman commented on #9
Good answer! :coffee:

[2019-01-26 12:57] daveyarwood commented on #2
I've been thinking a lot about the next version of Alda, and one important point is that I'd like to focus on simplifying the language, while keeping it open enough that it can be extended in unofficial ways, building on top of the core language.

For example, I'm planning to remove the "inline Clojure code" feature of Alda, as I realized that I could achieve the same goal by writing an external [

[2019-01-26 12:57] #2 closed

[2019-01-26 18:38] daveyarwood commented on #8
In Alda 2.0, I'm planning to move most of the heavy lifting into the client, which should make it trivial to implement this sort of functionality.

[2019-03-07 14:57] daveyarwood opened #69 "Validate MIDI note range"
Currently, attempting to play a note that is out of the MIDI note range (0-127) results in a confusing error message:

[code]

We should catch this and throw our own error with a clearer message.

[2019-03-10 22:06] daveyarwood commented on #9
Summarizing some thoughts I had after tinkering with MIDI export for a while:

* We are currently working with MIDI sequences where the division type is SMPTE.
  * In layman's terms, SMPTE works in terms of absolute time and does not have a "tempo."
  * By contrast, PPQ (pulses per quarter note) expresses notes in relation to the quarter note, and you can set the tempo.
  * There is no way to set

[2019-03-10 22:13] elydpg commented on #9
Probably. Out of curiosity, are notes in alda precise only to the millisecond?

[2019-03-11 01:14] daveyarwood commented on #9
They are more precise than that, as the numbers of milliseconds can be floating-point.

That being said, I think Alda 2.0 will likely end up being precise only to the millisecond, in order to simplify the communication between client and player. I think this should be totally fine, as the human ear isn't capable of recognizing differences of several milliseconds, let alone less than 1 millisecond.

[2019-03-11 14:00] daveyarwood commented on #9
More shower thoughts:

* One thing that Alda lets you do that goes against the grain of MIDI is that you can have multiple instruments all playing at different tempos. We are able to do this because Alda measures timing in milliseconds, not beats.

* This might be an argument for SMPTE by default, however I think PPQ should probably be the default because that's what the user will expect 99% of th

[2019-03-11 23:10] pierredewilde commented on #9
`(tempo! 120)` at the start of sequence should be enough.

Time expressed in PPQ and/or SMPTE is only relevant for exporting MIDI files.

If you plan to send MIDI commands directly to external MIDI devices (in realtime), you need to wait (in ms) between MIDI commands.

Eg
[code]

[2019-03-27 05:10] sbandx opened #70 "Command not found - El Capitan, Mac OS"
I have Java 8 installed, and get  command not found error when trying to update or use alda up

[2019-03-27 08:29] TBuc commented on #70
Hi @sbandx, seems alda is not in your path.

Could you try changing your terminal's directory to the one where alda is located before issuing the `alda up` command and let me know?

In case it still doesn't work, a screenshot of your terminal where the command fails could help assisting you.

[2019-03-31 20:14] sbandx commented on #70
I am changing to the directory where 'alda' is located and am using the latest available version:

ElCapitan:Applications serge$ pwd
/Users/serge/Applications
ElCapitan:Applications serge$ ls
Audacity			alda
BlueJ				alda-master
Cassio				javaforosx.dmg
Certificates			jre-8u201-macosx-x64.dmg
Chrome Apps.localized		jre-8u201-macosx-x64.tar.gz
ClamXAV.app			swell-foop
POVray				swell-foop-js
ElCapi

[2019-03-31 20:14] sbandx commented on #70
alda has execute permissions:
-rwxr-xr-x@  1 serge  staff   7149618 Mar 26 07:42 alda

[2019-03-31 20:58] TBuc commented on #70
I don't recall if MacOS requires `./` prefix in order to execute binaries.
To clear any doubt, could you try issuing `./alda` in place of `alda` in your terminal and let me know the outcome?

[2019-04-01 11:46] daveyarwood commented on #70
If you are in the directory where `alda` is located, you can run it with `./alda` (meaning "run the program in this directory called `alda`")

It is more convenient to put `alda` on your PATH so that it can be run (as `alda`, not `./alda`) from any directory.

To see your PATH, run `echo $PATH`. You can put `alda` in any of those directories. I think `/usr/local/bin` is typically included in the P

[2019-04-01 14:07] sbandx commented on #70
That was it.. ./alda

thank you

[2019-04-01 14:07] #70 closed

[2019-04-11 13:56] iggar commented on #69
I did some investigation on this one. It took me some time to find the source of the "Parsing/evaluating..." message.  I eventually found it on `alda-client-java//src/alda/AldaServer.java`, method `play` - but now I'm wondering where in the core project this change would take place. If someone can help me and point out on the right direction, I'd appreciate it. Meanwhile I'll try and look into oth

[2019-04-11 14:00] daveyarwood commented on #69
We're calculating the MIDI note number here: https://github.com/alda-lang/alda-core/blob/d45039101bf347eb84be7afa471db1b812291914/src/alda/lisp/events/note.clj#L40-L42

I think throwing an `ex-info` when `(> midi-note 127)` ought to do the trick.

[2019-04-11 14:02] daveyarwood commented on #69
...more like when `(or (neg? midi-note) (> midi-note 127))`

[2019-04-15 03:03] daveyarwood commented on #9
This feature is now available in [Alda 1.3.0](https://github.com/alda-lang/alda/releases/tag/1.3.0)! :tada:

[2019-04-15 03:03] #9 closed

[2019-04-15 07:54] 0atman commented on #9
AMAZING!
![tenor](https://user-images.githubusercontent.com/114097/56133774-2f474600-5f85-11e9-9021-f852531074fe.gif)

[2019-04-28 19:46] MegaLoler opened #71 "Unexpected tabs when parsing"
Hi! It looks like tabs aren't treated as normal whitespace!

[code]

I'm using Alda version 1.3.0 and OpenJDK 11.0.3 on Arch Linux (if it matters).
[code]

[2019-04-29 01:42] daveyarwood commented on #71
Interesting, nice catch!

Should be an easy fix: I think we just need to add `\tab` to the set of ignored whitespace characters [here](https://github.com/alda-lang/alda-core/blob/d45039101bf347eb84be7afa471db1b812291914/src/alda/parser/tokenize.clj#L189), and write a test or two.

This is up for grabs if someone wants to take a stab at it. Otherwise, I'll get to it when I can.

[2019-05-04 15:21] P17150942 commented on #71
I've made the change.

[2019-05-06 01:07] daveyarwood commented on #71
Closed via #72. Thanks for the PR, @P17150942 !

[2019-05-06 01:07] #71 closed

[2019-09-03 04:42] elyisgreat opened #74 "Alda does not recognize AdoptOpenJDK installation"
Not sure if this belongs here or in alda-client-java. I recently replaced my Java installation with an AdoptOpenJDK installation.
[code]
However, `alda` simply does not detect it:
[code]
Any idea what's going on?

[2019-09-03 11:26] daveyarwood commented on #74
This is interesting for a couple of reasons:

1. I have the same Java version, myself, and it's working for me:

[code]

2. The error message you're seeing says that the application requires JRE 1.7.0. We used to target JRE 1.7, but [2 years ago (see "breaking changes" section)](https://github.com/alda-lang/alda/blob/master/CHANGELOG.md#100-rc57-2017-05-30), we bumped it to JRE 1.8.0. I'm positive

[2019-09-04 02:59] elydpg commented on #74
I deleted alda.exe and reinstalled it, and it still says `This application requires a Java Runtime Environment 1.7.0`

[2019-09-04 13:31] daveyarwood commented on #74
Try reinstalling your JRE. I've read that there are Windows-specific issues about not using the right JRE for some reason.

[2019-09-05 02:15] elydpg commented on #74
I don't have anti-virus installed other than Windows Defender. Installing and reinstalling doesn't help. It turns out that alda is not the only program that I'm having this problem with, and [some more googling](https://www.google.com/search?q=adoptopenjdk+java+installed+but+not+detected) seems to suggest that AdoptOpenJDK [doesn't include some registry keys that many apps use to detect Java](http

[2019-09-05 14:48] daveyarwood commented on #74
This sounds like a bug with AdoptOpenJDK. I'm not sure there is anything that we can do on the Alda side.

[2019-09-06 03:31] elydpg commented on #74
Update: Installing AdoptOpenJDK 8 with the option to add the required registry keys seems to do the trick. So at least I can use alda with AdoptOpenJDK, but not AdoptOpenJDK 11.

I'm not sure how the alda CLI is checking for a Java installation. This is almost certainly an issue for alda-client-java, so I've moved the issue there.

[2019-09-06 03:31] #74 closed

[2019-12-02 22:04] truj commented on #25
I found this issue by accident after googling for "MIDI-decompiler".
I don't know much about ALDA but I'm working on a MIDI-decompiler for another project: [truj/midica](https://github.com/truj/midica)
Since yesterday I have a first working prototype and tested with some random files. For most of them it works pretty well, for some I still need to optimize a lot.

I guess the base problems in both

[2019-12-03 02:13] daveyarwood commented on #25
@truj Midica looks awesome! It's very much in the same spirit as Alda, but with its own flavor and a different niche. It makes me happy that there are other people out there doing similar things.

Your MIDI decompiler will be super helpful as a reference. Thanks for sharing!

[2020-03-03 19:47] truj commented on #25
Meanwhile I tried out ALDA and had a bit of time to learn more about it.
So I [decided](https://github.com/truj/midica/issues/53) to support it as a decompilation format from Midica.
Maybe I'll have some ALDA related questions later.
Is it OK to post them here?
Or maybe better [there](https://github.com/truj/midica/issues/53), than I don't need to misuse this issue any more.

[2020-03-03 19:50] daveyarwood commented on #25
Interesting! I'd be happy to help, feel free to ping me with any questions in https://github.com/truj/midica/issues/53.

[2020-03-04 18:11] truj commented on #38
Maybe a synchronize command [like this one](http://www.midica.org/tutorial-1.html#global-commands) would make sense. I use it all the time when writing Midica files.
Than you could use something like this:
`verse verse * chorus chorus`
Or maybe:
`verse verse @* chorus chorus`
... to stay more similar to the marker syntax.
Or:
`verse verse @! chorus chorus`
... to remind to global attributes as thi

[2020-03-04 20:24] daveyarwood commented on #38
I think I would want a "synchronize" function/operator to be more like a scope, almost like Java's [synchronized](https://docs.oracle.com/javase/tutorial/essential/concurrency/locksync.html) keyword:

[code]

Here's a half-baked idea: what if Alda had something similar that allowed you to specify that all of the parts inside of a block of code should be "in sync" at the end of the block?

I'm not

[2020-03-04 20:29] daveyarwood commented on #38
This feels like it might be useful enough that I would break my usual "don't add additional syntax rule, provide Lisp functions instead" and be on board with adding syntactic sugar. Like perhaps something like this:

[code]

...could be syntactic sugar for this:

[code]

[2020-03-15 21:37] truj opened #75 "track-volume in MIDI output"
The handling of the **track-volume** attribute should be changed.

Currently it's translated into a **channel volume** MIDI message (MSB Controller 7).
But it should be an **expression** message (MSB Controller 11).
cf. https://www.midi.org/specifications-old/item/table-3-control-change-messages-data-bytes-2

**Reason**:
Channel volume should not be used inside of a MIDI sequence.
It should be use

[2020-03-17 02:19] daveyarwood commented on #75
Just to be sure it's clear:

Alda has two similarly named attributes, **volume** and **track-volume**.

**volume** translates into the velocity of each individual note, i.e. how soft/hard to hit the key. This is encoded into every Note On message as a 7-bit value.

**track-volume** translates into a Channel Volume (7) message.

**volume** should typically be used for dynamic variation, and **track

[2020-03-17 07:32] truj commented on #75
Yes, I know the difference between the **volume** and **track-volume** attribute.

I would not offer an attribute called `channel-volume`. Why should you offer an attribute that people should not use? Just replace the status byte 7 --> 11. Should be trivial to fix.

The second problem is maybe harder to fix. Depends on the architecture.

By the way, did I choose the right project for this issue, o

[2020-03-17 12:18] daveyarwood commented on #75
That's what I'm thinking too. I just wanted to carefully consider whether it might be useful to still offer a way to generate Channel Volume messages. The more I think about it, the more I don't think it's necessary, so we should just use status byte 11 instead of 7 and make sure it still works.

I haven't had a close look yet, but I don't think it should be too hard to fix. I think I might be inc

[2020-03-17 18:30] #75 closed

[2020-03-25 08:18] UlyssesZh opened #76 "Chord slash (/) can't appear at the beginning of sequence if there's no repeat variation"
Sometimes I need to make the chord slash at the beginning of a sequence with a repetition variation:
[code]
or a shorter example:
[code]
However, if there is not a repetition variation, you can't use this feature:
[code]
Maybe it's a bug.

[2020-03-25 15:25] daveyarwood commented on #76
Hi @UlyssesZh,

A chord slash is not intended to be an "event" to be included an in event sequence. If it works now, it's purely by accident! Events include notes, chords, and attribute changes (including octave changes).

For example, if you want to have an event sequence that is repeated 2 times, and on the first time, you want the note `c` and on the second time, you want the chord `c/e`:

[cod

[2020-03-27 17:16] truj opened #77 "MIDI Export fails randomly with or without error msg"
If a file contains too many instruments, the MIDI export does not always react with an error message.
Here are two export runs with the same file.

This run reacts like it should:
[code]
But this one doesn't:
[code]
In both cases no file is created.

The export fails always. But sometimes with exit code 1 and an error message, and sometimes with exit code 0 and without error.

Expected behaviour f

[2020-03-27 18:32] truj opened #78 "Include line/column information in error messages."
I have decompiled a MIDI file to ALDA using [Midica](/truj/midica).
In order to test this file, I tried to re-convert it to MIDI using ALDA.
I got the following error message:
[code]
The file is quite large, so this error message is not very helpful to find the bug.

Proposed Solution:
Error messages should contain the line number and column of the source file where the error occurred.

[2020-03-28 01:54] daveyarwood commented on #77
Interesting find! I was able to repro this locally with the following score that has 20 instruments (well over the limit of 16):

[code]

If I run `alda export -f /tmp/too-many-instruments.alda -o /tmp/too-many-instruments.mid` repeatedly, it mostly prints the error message and exits 1, but eventually, there was no error message and it exited 0, yet it didn't successfully export the MIDI file.

I

[2020-03-28 01:56] daveyarwood commented on #77
For now, as a workaround, I would recommend ignoring Alda's exit code and checking to see whether the file was exported or not.

[2020-03-28 02:15] daveyarwood commented on #78
You're right, that's a very good point.

I'd like to do some research into "standard"/common approaches to compiler error messages. I would think that parse errors should almost always include a line and column number, whenever it's possible to do so. There is probably some popular format that I should copy that would make it easier to use the Alda compiler as a linter and hook it up with text edi

[2020-03-28 13:37] truj commented on #77
OK, I'll add a MIDI file check as a workaround.

[2020-04-06 07:28] UlyssesZh opened #79 "Add something working as piano's sustain pedal"
[code]
It may sound like (where `-` stands for sustaining)
[code]
And `(pedal 1)` should be an abbr for `(pedal 0) (pedal 1)`:
[code]
should sound like
[code]

[2020-04-06 12:14] daveyarwood commented on #79
Interesting idea, thanks for proposing it!

I wonder if this idea could be generalized somehow. [Gradual attribute changes](https://github.com/alda-lang/alda-core/issues/13) are kind of similar in spirit, but not really the same thing.

I guess this might really be its own thing. Something like `(pedal 'on)` would put the score evaluator into a mode where it isn't sure what the lengths of the note

[2020-04-06 16:59] truj commented on #79
MIDI note-ON/OFF should not be necessary.
There are pedals in MIDI, defined as controllers.
Check out the controller numbers 64-69.
Probably number 64 is the right one here.

[2020-04-06 18:27] daveyarwood commented on #79
Oh, interesting! I didn't realize there was something built-in for this in the MIDI spec.

I'm still curious to explore ways to do this that don't rely on features of MIDI. One of the goals I have for Alda is to eventually support non-MIDI instruments, so I think it would be useful to have a general solution that doesn't rely on implementation details of MIDI.

[2020-04-06 18:29] daveyarwood commented on #79
...Of course, it would also be useful to provide a way to add "pedal" controller messages to the MIDI sequence, for those who want to use Alda to generate MIDI specifically.

[2020-04-09 00:34] UlyssesZh opened #80 "Add function for merging voices"
[code]
It is extremely convenient when used together with [gradual attribute changes](https://github.com/alda-lang/alda-core/issues/13) and [pedals](https://github.com/alda-lang/alda-core/issues/79):
[code]
What inspire me with the idea is that there are often some "simile" marks in musical scores indicating that the following is played in a similar style.

[2020-04-09 00:49] elyisgreat commented on #80
`|` is already used for bars

[2020-04-09 00:55] UlyssesZh opened #81 "`|` is already used for bars"
`|` is already used for bars

_Originally posted by @elyisgreat in https://github.com/alda-lang/alda-core/issues/80#issuecomment-611267474_

I didn't mean to use `|` to mark merging. As can be seen, I used `(merge "piano V1" "piano V2")`. Here `|` are just barlines.

[2020-04-09 00:55] #81 closed

[2020-04-09 00:55] UlyssesZh commented on #81
Sorry, the issue is made by mistake.

[2020-04-09 00:56] UlyssesZh commented on #80
@elyisgreat I didn't mean to use `|` to mark merging. As can be seen, I used `(merge "piano V1" "piano V2")`. Here `|` are just barlines.

[2020-04-09 05:16] elyisgreat commented on #80
Ah. Nvm then; did not read carefully enough

[2020-04-09 11:26] daveyarwood commented on #80
This is a very interesting idea, but I don't know if voices are a good fit for it. One of the characteristics of voices is that each voice has its own attribute values. That is, an attribute change in one voice should not affect the attribute values of the other voices.

[2020-04-09 11:31] daveyarwood commented on #80
I think I might be interested in discussing other ways to do what you're describing, which is basically, writing all of the notes out first, and then writing the corresponding attribute changes (volume, etc.) underneath on a separate line, like you would in sheet music. I think that might be a very nice way to work, especially in the future when we have gradual attribute changes.

[2020-04-09 11:37] daveyarwood commented on #80
I wonder if this could be represented as a sort of "operator" on an event sequence?

Something like (syntax TBD, this is just off the top of my head):

[code]

The idea is that the second event sequence is like an "operation" that modifies the first. The operation would be something like interpersing attribute changes (and maybe other events?) into the first sequence.

[2020-04-13 07:06] UlyssesZh opened #82 "`note` function ignores the duration argument"
[code]
etc.

The argument `(pitch :c)` works, but the argument `(note-length 1)` or `(ms 400)` does not and is ignored.

[2020-04-13 14:04] daveyarwood commented on #82
This isn't well-documented, but you have to wrap `note-length` and `ms` in a call to `duration`, which concatenates together 1 or more "duration components" (e.g. `note-length`, `ms`):

[code]

I'll point out that the "inline Clojure code" feature is going away in Alda v2. Going forward, the best way to write scores by writing Clojure code is to write a Clojure program that uses my [alda-clj](http

[2020-04-17 06:12] UlyssesZh opened #83 "Bug happens when parsing `[[c] [d]'1]*1`"
[code]
outputs
[code]

[2020-04-17 12:34] daveyarwood commented on #83
Thanks for reporting! I think this is a legit bug. Will look into it.

[2020-04-18 00:53] daveyarwood commented on #83
Fixed in Alda 1.4.1!

[2020-04-18 00:53] #83 closed

[2020-05-04 00:54] daveyarwood commented on #82
Closing this, as it's been a while. Let me know if you have any questions or want to continue the conversation!

[2020-05-04 00:54] #82 closed

[2020-05-04 00:57] daveyarwood commented on #76
Closing this since it's been a while. Let me know if you have any further questions!

[2020-05-04 00:57] #76 closed

[2020-07-31 21:42] jaredforth commented on #3
@daveyarwood

Has there been any progress on this item? I've been exploring Alda this week and want to contribute to the project. This is something that I am interested in tackling, but it doesn't seem like there is necessarily a road map for how this feature will be implemented as of yet.

[2020-08-01 01:02] daveyarwood commented on #3
Hi @jaredforth! There has not been progress on this to my knowledge. I'd love to see this feature move forward, and I would be happy to help provide direction, spec things out, answer questions, etc.

After re-reading the discussion above, I still like the direction of the last thing I proposed, except I've totally changed my mind about `import` and `export` not making sense. I think `import` and

[2020-08-02 18:32] jaredforth commented on #3
@daveyarwood

I like the `import` and `export` semantics as well, and I will certainly check out the v2 branch! I have significantly more experience in Go than Closure so that makes contribution easier for me. I just joined the Slack group, so we can definitely have further discussion there.

[2020-08-16 09:01] UlyssesZh opened #84 "V0 and V2 together is different from V1 and V2 together"
Why are the two different?
[code]
[code]
Maybe it's a bug.

[2020-08-16 15:45] elydpg commented on #84
An intended feature. From [The Docs](https://www.github.com/alda-lang/alda/tree/master/doc%2Fvoices.md):

[2020-08-16 15:47] #84 closed

[2020-09-29 04:17] dickensas opened #86 "[NOT AN ISSUE] But it would be great if it supports openjdk"
Check Java version

[code]

[code]

C:\Program Files (x86)\Alda\alda.exe
[code]

[2020-09-29 12:43] daveyarwood commented on #86
Hi @dickensas, I've seen this issue crop up a few times recently. I believe this is a duplicate of https://github.com/alda-lang/alda-client-java/issues/41.

See that issue for some suggestions about how to fix it. I would love to know if any of the suggestions work, so that maybe we can add some helpful information to the README for Windows users with OpenJDK.

[2020-09-29 12:43] #86 closed

[2020-10-15 16:02] dhpiggott opened #87 "ERROR null when using (set-duration (ms 2000))"
Given the documentation at https://github.com/alda-lang/alda/blob/07143d6fd85559171554e65023d37cf63402e9e7/doc/attributes.md#duration I would expect this to play the note that follows for 2 seconds:

[code]

But I get this error:

[code]

This is the Alda version:
[code]

[2020-10-15 16:30] daveyarwood commented on #87
Nice catch! This appears to be a bug that I haven't fully traced down yet. I was able to grab this stack trace by running:

[code]

and then repro-ing the issue in another terminal by running:

[code]

Stacktrace:

[code]

I'll take a closer look soon when I have time, but it might be a little while. In the meantime, if anyone else feels the itch to look into it, I wouldn't complain! :)

[2020-10-15 20:30] dhpiggott commented on #87
Ah cool, thank you! I would dig deeper myself, but unfortunately I don't know Clojure :(

[2020-10-15 21:36] dhpiggott opened #88 "Unclear semantics for markers within repeated sequences"
It isn't to me clear from the documentation for markers and sequences/repetitions whether they are supported in combination, and if so what the semantics are, but given the documentation at https://github.com/alda-lang/alda/blob/master/doc/markers.md#markers my best guess would be to expect both repetitions of the following to render in the same way:

[code]

The first repetition renders as I woul

[2020-10-16 00:40] daveyarwood commented on #88
I do appreciate these issues - please keep them coming!

I've never intended for markers to be used inside of repeated figures. The idea is that a marker represents a single moment in time. I suppose it might make sense to make it a compile-time error if a marker is encountered in a context like this, I just haven't bothered to do so.

Out of curiosity, I tried running your example using the WIP g

[2020-10-16 00:49] daveyarwood commented on #88
By the way, keep me in the loop about your Scala music generation project, it sounds very interesting! Especially if it builds on top of Alda, naturally :)

I wrote an article recently that I think you might find useful: [Implementing an Alda library](https://github.com/alda-lang/alda/blob/master/doc/implementing-an-alda-library.md). It's all about how Alda can be used as not just a language, but

[2020-10-16 11:38] dhpiggott commented on #88
Yup that makes sense - I was also thinking a compile-time error could be another way to define the behaviour in this context.

Oh that's cool! My Scala WIP handles it this way too - and not really by design, but just because that's the way I've handled sequence rendering. I'm not super attached to this interpretation but for now at least I think I'll keep this behaviour because it is consistent wi

[2020-10-17 01:29] daveyarwood commented on #88
I had a quick look at Apollo - looks neat, nice work so far!

I haven't written much at all "officially" about Alda v2, but if you're curious, probably the best way to learn about the big picture (Why am I rewriting Alda from scratch? Why Go and Kotlin instead of Clojure? How does Clojure fit into the picture now? etc.) is to watch [this talk I gave at Strange Loop last year](https://www.youtube.c

[2020-10-17 01:29] #88 closed

[2020-10-17 14:21] dhpiggott commented on #88
Thank you!

Nice - watched!

Absolutely!

[2020-10-20 12:19] daveyarwood commented on #80
I was thinking about this a little bit this morning and an idea popped into my head.

The idea is that each Alda voice could have a corresponding [automation](https://en.wikipedia.org/wiki/Track_automation), analogous to automation tracks in DAW programs. Essentially, the automation would be a collection of attribute values over time. Any note in the corresponding voice that occurs somewhere in be

[2020-10-20 12:23] daveyarwood commented on #13
I had a related idea for "automation voices": https://github.com/alda-lang/alda-core/issues/80#issuecomment-712809114

I still like the syntax idea I linked above because sometimes, it might be easier/more desirable to write the attribute values in line instead of as a separate "voice". I think we could add both features.

[2020-10-20 14:11] daveyarwood commented on #24
After having several years to think about this, I've decided to keep the behavior the way it is now -- a global attribute in one part only affects that part and all of the parts _below_ it in a score -- for the reasons I mentioned above.

[2020-10-20 14:11] #24 closed

[2020-10-21 03:52] elyisgreat opened #89 "Global Attributes should only be settable on their own dedicated lines"
It seems that, as per the resolution of #24, @daveyarwood has elected not to change the behaviour of global attributes such that when they are called they are put into effect from that point forward *in the score*, not necessarily that point forward *in time*. As such, it would be clearer if there was a syntax error or at least a warning when changing a global attribute interspersed with another e

[2020-10-21 12:32] daveyarwood commented on #89
I don't think it would be helpful if we threw a syntax error in this situation. I think the first example (where `(tempo! 250)` is written in the same line as the rest of the trombone part) actually makes it clearer where the global tempo change falls. In the second example, it isn't immediately clear that the global tempo change is happening within the context of the trombone part. It looks more

[2020-10-23 00:29] daveyarwood commented on #78
I've fixed this in Alda v2. I'll leave this issue open just in case somebody feels like fixing it in Alda v1; will close when Alda v2 is released.

[2020-11-18 02:49] daveyarwood commented on #3
For our reference: a new blog post from @infojunkie about validating MusicXML: https://blog.karimratib.me/2020/11/17/validate-musicxml.html

[2020-11-24 19:23] ostov-larion opened #90 "OSC / MIDI OUT / VST / Samples support"
Add the ability to use external synthesizers for electronic music composition.

It is enough to add the ability to communicate via MIDI Ports. This will allow external VST Hosts and samplers to be used.

[2020-11-24 19:28] daveyarwood commented on #90
Hi @ostov-larion , thanks for the issue!

This would be an amazing feature, and I'm definitely on board with adding it myself at some point in the distant future, unless somebody else contributes it sooner :)

There has been some discussion of this very idea already at https://github.com/alda-lang/alda-sound-engine-clj/issues/7, so I'm closing this one as a duplicate just  to keep things tidy.

[2020-11-24 19:28] #90 closed

[2021-01-01 02:59] #89 closed

[2021-01-01 03:04] daveyarwood commented on #78
On second thought, I'm going to go ahead and close this. Alda v2 is coming soon! :fireworks:

[2021-01-01 03:04] #78 closed

[2021-01-01 03:07] daveyarwood commented on #77
This is no longer an issue in Alda v2, which will be released soon, so I am closing this.

I do still intend to do something like this -- will capture it in a separate issue.

[2021-01-01 03:07] #77 closed

[2021-01-01 03:08] daveyarwood commented on #69
I don't remember off-hand whether I fixed this in Alda v2 or not. Keeping this issue open until I have a chance to confirm.

[2021-01-01 03:29] daveyarwood commented on #56
No longer relevant for Alda v2, which is no longer implemented in Clojure, so closing this.

[2021-01-01 03:29] #56 closed

[2021-01-01 19:49] daveyarwood commented on #18
Alda v2's parser beats the pants off of the Alda v1 parser. Scores are parsed on the order of microseconds. :sunglasses:

Closing this, as Alda v2 will be released soon :crossed_fingers:

[2021-01-01 19:49] #18 closed

[2021-01-01 20:21] daveyarwood commented on #4
I had an interesting thought about this. It might be interesting if event sequences were a scoping mechanism. Meaning: attributes applied inside of an event sequence would be "undone" at the end of the event sequence. For example:

[code]

The only trouble is, this would be a breaking change, and I think it would make a lot of existing scores sound unexpectedly different.

It also seems like if we